.wallscardImg{
	margin: 0 0 10% 0;
}
.home-borde-div{
	width: 107%;
	margin: 0 0 0 -5%
}
.navBar{
	position: absolute;
	top: 50%;
	width: 90%;
	margin: auto;
	left: 10%;
	right: 10%;
}
.home-sucursales-title{
	position: relative; 
	height: 100px; 
	width: 100%; 
	background: black; 
	text-align: center;
}
.socialIcon{
	margin-left: 10px; margin-right: 10px;
}
.footer-text{
	bottom: 0px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.iconsDivMovil{
	display: none;
}
.cabecera-titulo{
	font-size: 2rem
}
.navBar-movil{
	display: none;
}
.walls-titulo{
	font-size: 60px;
}
body{
	background-color: black !important;  
	max-width: 100%;
    overflow-x: hidden;
}
.video{
	position:absolute; top: 30%; left: 0; right: 0; margin: auto;
	width : 50%;
	height: 50%;
}
.walls-logo{
	position: relative; 
	top: -55%;
}
.cabeceraDiv{
	width: 100%;
    height: 15%;
    top: 6%;
    z-index: 3;
}
.wallsLogo{
	position: absolute;
	top: -30%;

}
.home-cuerpo-absolute{
	position: absolute; 
	top: 80%; 
	width: 100%
}
.sesion{
	left: 20%;
}
.whiteFont{
	color: white;
}

.iconsDiv{
	position: fixed;
	z-index: 3;
	top: 1%;
	right: 70px;
}

.socialIconsDiv{
	z-index: 3;
	margin-top: 5px;
	left: 9%;
}
.socialIconsDivMovil{
	padding-top: 10px;
	display: none;
	width: 45%;
	position: absolute;
	right: 0;
	margin: auto;
	left: 0;
}
.cabecera-titulos-v2{
	position: absolute;
	left: 0;
	right: 0;
	width: 60%;
	height: 350px;
	margin: auto;
	top: 300px;
}
.titulos-div-cabecera-v2{
	position: absolute;
	right: 0;
	width: 40%;
	top: 0;
	overflow: hidden;
	height: 100%;
}
.leerMas{
	position: absolute;
	top: 250px;
	width: 150px;
	left: 0px;
	background: #A4A4A4;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}
.leerMas:hover{
		background: #7A7A7A;
	}
.leerMasFooter:hover{
		background: #7A7A7A;
}
.leerMasFooter{
	position: absolute;
	bottom: 10%;
	width: 10%;
	height: auto;
	margin: auto;
	left: 0;
	right: 0;
	background: #353432;
	border: 2px solid white;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}
.angleDiv{
	position: absolute;
	bottom: 20%;
	width: 3%;
	margin: auto;
	left: 0;
	right: 0;
}

.wallsCardLogoDiv{
	//position: absolute;
	//bottom:50%;
	//width: 20%;
	//height: 5%;
	//margin: auto;
	//left: 0;
	//sright: 0;
	padding: 0 33.3%;
	margin: 5% 0;
}
.wallsCardDiv{
	position: relative;
	padding: 0 33.3%;
	margin: 0 0 5%;
	/*bottom: 15%;
	width: 20%;
	height: auto;
	margin: auto;
	left: 0;
	right: 0;*/
}

.cabecera{
	background-image: url(/assets/img/bg-top.jpg);
	background-size : cover;
	width : 100%;
	position : fixed;
	background-repeat: no-repeat;
	height: 100%;
}
.borde-sesgado-top{
    z-index: 0;
    width: 100%;
}
.borde-sesgado-bottom{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg); 
    width: 100%; 
}
.fondo-fixed{
	//background-image: url(/assets/img/fondo-fixed.jpg);
	height: 100%;
	background-size : cover;
	width : 100%;
	position : fixed;
	z-index : -1;
	background-repeat: no-repeat;
}
.fondo-footer{
	background-image: url(/assets/img/fondo-footer.jpg);
	height: 150%; 
	background-size : cover;
	width : 100%; 
	position : fixed; 
	z-index : -1;
	background-repeat: no-repeat;
	top : -40%;
}

.cuerpo1{
	position: relative; 
	width: 100%;
}

.cuerpo2{
	//height: 130%;
	position: relative;
	width : 100%; 
	margin: 50% 0 0 0;
	//left : -5%;
	//top: 400%;
}

.cuerpo3{
	position: relative; 
	width : 100%;
	margin: 60% 0 0;
	height: 700px;
}

.titulos-div-cabecera{
	position: relative; 
	top: 30%; 
	left: 0; 
	right: 0; 
	margin: auto; 
	width: 55%;  
	height: 50%;   
	word-wrap: break-word; 
}

.underline{
	text-decoration: underline;
}

.white-sello{
	position: absolute;
	left: 0;
	bottom: 0%;
}

.titulos-div-footer{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 25%;
	right:0;
	margin: auto;   
   word-wrap: break-word;
}

#titulos-div-fondo-fixed{
	position: absolute;
    bottom: 10%;
    margin: auto;
    left: 0  ;
    right: 0 ;
    width: 50%;
    height: 20%;
}

.frase{
	position: absolute;
	margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.firma{
	position: absolute; margin: auto;
    left: 0;
    right: 0;
    bottom: -30%
}

.cuerpo1-white-div{
	//position: absolute;
	//top: 9%;
	width: 100%;
	height: 80%;
	background: white; 
	background-image: url(/assets/img/bg_cuerpo_1_centro-min.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: -5px 0 -5px 0; 
}
.borde-sesgado-bottom2{
	bottom: -15%;
}
.cuerpo1-background{
	//position: absolute;
	//top: 0;
	//bottom: 0;
	//margin: auto;
	width: 100%;
}

.cabecera-logo{
	transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
}

.cuerpo1-titulos-div{
	
	text-align: center; 
	
}

.cuerpo2-div{
	background: white; 
	background-image: url(/assets/img/bg-medio-antefooter-min.jpg);
	background-position: center;
	background-size : cover;
	background-repeat: no-repeat;
	position: relative;
	padding: 10% 0;
	overflow: auto;
	margin: -5px 0px; 
}
.sublined{
	text-decoration: underline;
}
.cuerpo2-titulo{
	font-size: 100px;
}
.cuerpo2-titulos-div{
	position: relative; 
	text-align: center; 
}

.sello-gris{
	position: absolute; 
	right: 0%; 
	bottom: 0; 
	top: 0; 
	margin: auto;
	z-index: 1;
}

.ng-map{
	width: 100%; 
	height: 100%; 
	position: absolute;
}

.borde-sesgado-bottom-black{
	position: relative;
	z-index: 1;
	width: 100%;
}
.home-map-container{
	margin: -6% 0 0 0;
    position: relative;
    width: 100%;
    height: 90%;
}
.home-footer-brand{
	position: relative;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: #454545;
}

@media only screen and (max-width: 1400px){
	.cabecera-titulos-v2{
		top: 200px;
	}
	.leerMas{
		top: 280px;
	}
	/*.cuerpo2{
		top: 480%;
	}
	.cuerpo3{
		top: 730%;
	}*/
	.video{
		top: 20%;
	}
	#titulos-div-fondo-fixed{
		bottom: 7%;	
	}
	.white-sello{
		transform: scale(0.9, 0.9);
    	-ms-transform: scale(0.9, 0.9);
    	-webkit-transform: scale(0.9, 0.9);
    	left: -70px;
    	bottom: -3%;
	}
}
	
@media only screen and (max-width: 1280px){
	.cabecera-titulos-v2{
		width: 70%;
	}
}
@media only screen and (max-width: 1024px){
	.cabecera-titulos-v2{
		width: 80%;
	}

	.navBar-movil-titulos{
		position: absolute;
		width: 5%;
		left: 70px;
		top: 80px;
		display: none;
	}
	.navBar-movil-icon{
		position: absolute;
		left: 50px;
	}
	.navBar-movil-image{
		position: absolute;
	    margin: auto;
	    left: 0;
	    right: 0;
	    width: 20%;
	    height: 70px;
	}
	.margin-left-10px{
		margin-left: 10px;
	}
	.navBar-item{
		margin-top: 3px;
	    background: rgba(255, 255, 255, .9);
	    width: 150px;
	}
	.walls-logo{
		top: -40%;
		transform: scale(0.7, 0.7);
    	-ms-transform: scale(0.7, 0.7);
    	-webkit-transform: scale(0.7, 0.7);
	}

	.cabeceraDiv{
		top: 0%;
	}
	.titulos-div-cabecera{
		top: 15%;
	}
	.angleDiv{
		bottom: 50%;
		width: 5%;
	}
	.white-sello{
		bottom: 35%;
		transform: scale(0.7, 0.7);
    	-ms-transform: scale(0.7, 0.7);
    	-webkit-transform: scale(0.7, 0.7);
    	left: -10%;
	}
	/*.cuerpo1{
		top: 50%;
		height: 1200px;
	}
	.cabecera-logo{
		transform: scale(0.3, 0.3);
    	-ms-transform: scale(0.3, 0.3);
    	-webkit-transform: scale(0.3, 0.3);
    	top: -10%
	}
	.cuerpo1-titulos-div{
		top: 12%;
		left: 10%;
    	right: 10%;
	}
	.wallsCardLogoDiv{
		bottom: 46%;
	}*/
	.fondo-fixed{
		background-size : contain;
	}
	#titulos-div-fondo-fixed{
		bottom: 40%;
	}
	/*.cuerpo2{
		top: 230%;
		height: 90%;
		width: 110%;
	}
	.cuerpo2-div{
		top: 10%;
		height: 90%;
	}*/
	.fondo-footer{
		top: 15%;
		background-size: contain;
	}
	.titulos-div-footer{
		top: 10%;
	}
	.leerMasFooter{
		bottom: 60%;
		width: 15%;
	}
	/*.cuerpo3{
		top: 420%;
	}*/
	.cabecera{
		background-size: contain;
	}
	.iconsDiv{
		display: none;
	}
	.iconsDivMovil{
		display: initial;
		position: absolute;
		z-index: 3;
		top: 10%;
		width: 30%;
		right: -5%;
	}
}

@media only screen and (max-width: 768px){
	.home-cuerpo-absolute{
		top: 60%;
	}
	.cuerpo2{
		margin: 70% 0 0 0;
	}
	.home-footer-brand{
		height: 100px;
	}
	.home-sucursales-title{
		display: none;
	}
	.cuerpo3{
		margin: 120% 0 0;
		height: 10%;
	}
	.borde-sesgado-bottom-black{
		display: none;
	}
	.navBar{
		display: none;
	}
	.cabeceraDiv{
		display: none;
	}
	.navBar-movil{
		display: initial;
		position: absolute;
		width: 100%;
		height: 80px;
		z-index: 2;
		top: 5%;
	}
	.socialIconsDivMovil{
		display: initial;
	}
	.socialIconsDiv{
		display: none;
	}
	.cabecera-titulos-v2{
		width: 100%;
		top: 150px;
	}
	.video {
	    top: 10% !important;
	    height: 25%;
	}
	/*.wallsCardDiv{
		bottom: 35%;
    	width: 30%;
    	height: 50px;
	}*/
	.titulos-div-cabecera{
		width: 85%;
	}
	.white-sello{
		display: none;
	}
}

@media only screen and (max-width: 580px){
	.home-cuerpo-absolute{
		top: 50%;
	}
	.cuerpo2{
		margin: 120% 0 0 0;
	}
	.video{
		width: 60%;
	}
	.leerMas{
		top: 130px;
	}
	.white-sello{
		transform: scale(0.5, 0.5);
    	-ms-transform: scale(0.5, 0.5);
    	-webkit-transform: scale(0.5, 0.5);
		left: -23%;
	}
	.iconsDiv{
		width: 25%;
	}
	.angleDiv{
		bottom: 57%;
	}
	/* .cuerpo1{
	 	top: 40%;
	 }
	 .wallsCardDiv{
	 	bottom: -3%;
	 }
	 .wallsCardLogoDiv{
	 	bottom: 40%;
	 }*/
	 .firma{
	 	bottom: -60%;
	 }
	 .sello-gris{
	 	transform: scale(0.8, 0.8);
	    -ms-transform: scale(0.8, 0.8);
	    -webkit-transform: scale(0.8, 0.8);
	    right: -12%;
	 }
	 .leerMasFooter{
	 	width: 20%;
	 }
}

@media only screen and (max-width: 414px){
	.video { 
		top: 5% !important;
		height: 40%;
		width: 100%;
	}
	.frase-div{
		margin-top: 25px;
	}
	.firma{
		max-width: 70%;
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 0px;
	    margin: auto;
	}
	.navBar-movil{
		height: 50px;
	}
	.socialIcon{

		font-size: 25px !important;
	}
	.socialIconsDivMovil{
		width: 65%;
	}
	/*.cuerpo2-titulo {
    	font-size: 50px;
	}*/
	.imageCabecera{
		transform: scale(0.3, 0.3);
    	-ms-transform: scale(0.3, 0.3);
    	-webkit-transform: scale(0.8, 0.8);
	}
	.div-image-cabecera{
		position: absolute;
    	left: 0px;
    	width: 60%;
	}
	.titulos-div-cabecera-v2{
		right: 20px;
	}
	.cabecera-titulos-v2{
		width: 100%;
    	top: 100px;
	}
	.cabecera-titulo{
		font-size: 1rem;
	}
	.sesion{
		left: -45%;
    	top: -20px;
    	width: 250%;
    	transform: scale(0.5, 0.5);
    	-ms-transform: scale(0.5, 0.5);
		-webkit-transform: scale(0.5, 0.5);
	}
	/*.wallsCardDiv{
		width: 20%;
    	height: auto;
	}*/
	.iconsDivMovil{
		right: 0%;
		transform: scale(0.5, 0.5);
		-ms-transform: scale(0.5, 0.5);
		-webkit-transform: scale(0.5, 0.5);
	}
	.socialIconsDiv{
		transform: scale(0.5, 0.5);
		-ms-transform: scale(0.5, 0.5);
		-webkit-transform: scale(0.5, 0.5);
		top: -1%;
	}
	.walls-logo{
		top: -5px;
	}
	.sesion, h6{
		font-size: 80%;
	}
	.navBar-movil-icon{
		left: 20px;
		top: -10px;
		transform: scale(0.5, 0.5);
		-ms-transform: scale(0.5, 0.5);
		-webkit-transform: scale(0.5, 0.5);
	}
	.navBar-movil-titulos{
		left: 50px;
    	top: 50px;
	}
	 .leerMasFooter{
	 	width: 25%;
	 	bottom: 65%;
	 }
	 .iconsDiv{
	 	width: 35%;
	 }
	 .white-sello{
	 	left: -28%;
	 }
	/*.cuerpo1-titulos-div, h4{
		font-size: 100%;
	}
	.walls-titulo{
		font-size: 150%;
	}
	.cuerpo1{
		height: 700px;
	}
	.cuerpo1-white-div{
		top: 8%;
	}
	.wallsCardLogoDiv{
		bottom: 43%;
		width: 25%;
	}
	.cuerpo2-div, h1{
		top: 8%;
		font-size: 150%;
	}*/
	.titulos-div-footer, h1, h2, h3{
		top: 15%;
    	font-size: 100%;
	}/*
	.cuerpo3{
		top: 400%;
	}*/
	.firma{
		bottom: -10%;
	}
	#titulos-div-fondo-fixed{
		bottom: 40%;
		width: 70%;
	}
	/*.cuerpo2{
		top: 210%;
	}*/
	.angleDiv{
		width: 8%;
	}
	.item-1, 
	.item-2, 
	.item-3,
	.item-4,
	.item-5,
	.item-6{
		font-size: 13px;
	}
	.titulos-div-cabecera{
		width: 90%;
	}
}

@media only screen and (max-width: 375px){
	.cuerpo1-titulos-div{
		margin: 0 6px;
	}
	.walls-titulo{
		font-size: 35px;
	}
	.cuerpo2-titulo{
		font-size: 35px;
	}
	.socialIconsDivMovil{
		width: 75%;
	}
	.socialIcon{
		margin-left: 4px;
    	margin-right: 4px;
	}
	/*.cuerpo1{
		height: 560px;
	}
	.cuerpo2-titulo {
    	font-size: 40px;
	}*/
	.cabecera-titulos-v2{
		top: 80px;
	}/*
	.wallsCardLogoDiv{
		width: 30%;
	}
	.cuerpo1-titulos-div, h4 {
    	font-size: 90%;
	}
	.cuerpo2-div, h1 {
    	font-size: 130%;
	}*/
	.sello-gris{
		transform: scale(0.5, 0.5);
	    -ms-transform: scale(0.5, 0.5);
	    -webkit-transform: scale(0.5, 0.5);
	    right: -25%;
	}
	/*.cuerpo3{
		top: 380%;
	}*/
	.leerMasFooter {
	    width: 35%;
		transform: scale(0.7, 0.7);
    	-ms-transform: scale(0.7, 0.7);
    	-webkit-transform: scale(0.7, 0.7);
	}
	.iconsDiv{
		transform: scale(0.7, 0.7);
    	-ms-transform: scale(0.7, 0.7);
    	-webkit-transform: scale(0.7, 0.7);
	}
	.firma {
    	bottom: -50%;
	}
	.sesion, h6{
		font-size: 70%;
	}
}

@media only screen and (max-width: 360px){
	.leerMasFooter {
	    bottom: 58%;
	}
}
@media only screen and (max-width: 320px){
	.cabecera-titulos-v2{
		top: 60px;
		width: 110%;
    	left: -20px;
	}
	.leerMas{
		width: 120px;
	}
	/*.cuerpo1-titulos-div, h4 {
    	font-size: 85%;
	}
	.membresia-text{
		font-size: 90%;
	}*/
	#titulos-div-fondo-fixed {
    	width: 60%;
	}
	.firma {
    	bottom: -100%;
	}
	/*.cuerpo2 {
    	top: 230%;
	}
	.cuerpo3 {
    	top: 400%;
	}
	*/
	.angleDiv{
		transform: scale(0.8, 0.8);
    	-ms-transform: scale(0.8, 0.8);
    	-webkit-transform: scale(0.7, 0.7);
	}
	.sesion, h6{
		font-size: 70%;
	}
	.iconsDivMovil{
		width: 120px;
    	top: 0%;
	}
}

@media (max-width : 1200px) and (orientation: landscape){
	.cabecera{
		min-height: 1024px; 
		background-size: contain;
	}
	.fondo-fixed{
		min-height: 1024px; 
		background-size: contain;
	}
	.fondo-footer{
		min-height: 1024px; 
		background-size: contain;
	}
	body{
		min-height: 1024px;
	}
}
@media (max-width : 736px) and (orientation: landscape){
	.cabecera{
		min-height: 740px; 
		background-size: contain;
	}
	.fondo-fixed{
		min-height: 740px; 
		background-size: contain;
	}
	.fondo-footer{
		min-height: 720px; 
		background-size: contain;
	}
	body{
		min-height: 180%;
	}
	/*.cuerpo2{
		top: 260%;
	}*/
	.titulos-div-fondo-fixed{
		top:55%;
	}
	.firma{
		bottom: -50%;
	}
	.titulos-div-footer{
		top: -10%;
	}

}
