.galeria-overImg{
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .7);
	position: absolute;
}

.left-gallery-arrow{
	position: absolute;
	left: -12%;
	top: 45%;
	opacity: 0.2;
}
.right-gallery-arrow{
	position: absolute;
	right: -12%;
	top: 45%;
	opacity: 0.2;
}
.right-gallery-arrow:hover{
	opacity: 1;
}
.left-gallery-arrow:hover{
	opacity: 1;
}
.modal{
	background: transparent;
}
.galeria-overImg:hover {
    opacity: 0;
}
.galeria-fondo1{
	position: fixed;
	width: 100%;
	height: 889px;
	background-image: url(/assets/img/bg-rostros-min.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
/*.galeria-fondo2{
	position: fixed;
	width: 100%;
	height: 272px;
	//background-image: url(/assets/img/fondo-galeria-de-fotos-min.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	top: 50%;
}*/
.galeria-cuerpo-absolute{
	position: absolute;
	top: 650px;
	width: 100%;
	height: auto;

}

.galeria-diagonal{
	position: absolute;
	background: white;
	width: 100%;
	height: 720px;
	top: -300px;
}

.diagonal-izquierda{
	-ms-transform: rotate(44deg); /* IE 9 */
    -webkit-transform: rotate(44deg); /* Chrome, Safari, Opera */
    transform: rotate(44deg);
    left: -500px;
}

.diagonal-derecha{
	-ms-transform: rotate(-44deg); /* IE 9 */
    -webkit-transform: rotate(-44deg); /* Chrome, Safari, Opera */
    transform: rotate(-44deg);
    right:-500px;
}
.sello-galeria{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 300px;
}
.galeria-cuerpo1{
	position: absolute;
	top: 80px;
	width: 100%;
	height: 800px;
	background: white;
}
.gallery{
	width: 60%;
	height: 1200px;
	background: white;
	left: 35%;
	z-index: 1;
}
.galeria-cuerpo1-titulos{
	position: absolute;
	left: 0px;
	width: 30%;
	height: 100%;
	text-align: right;
	top: 200px;
}

.galeria-cuerpo2{
	position: absolute;
	height: 1000px;
	background: white;
	width: 100%;
	top: 1100px;
}

.galeria-fondo2-titulos{
	position: absolute;
	width: 20%;
	left: 10%;
}
.galeria-cuerpo2-titulos-1{
	position: absolute;
	left: 10%;
	width: 20%;
	height: 300px;
	text-align: right;
	top: 50px;
}

.galeria-image-circular-margin{
	position: absolute;
	top: 300px;
	left: 200px;
	margin: auto;
	width: 200px;
	height: 200px;
	border: 3px solid #D3D1D1;
	border-radius: 100px;
}

.galeria-image-circular-img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 180px;
	height: 180px;
	border-radius: 120px;
}

.galeria-cuerpo2-content{
	position: absolute;
	width: 60%;
	left: 0;
	right: 0; 
	margin: auto;
	top: 1000px;
}

.galeria-cuerpo2-content-img{
	position: absolute;
	width: 60%;
	height: 300px;
}

.galeria-cuerpo2-content-titulos{
	position: absolute;
	width: 50%;
	left: 63%;
	top: 0px;
}

.galeria-cuerpo2-diagonal{
	-ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
    position: absolute;
	background: white;
	width: 120%;
	height: 500px;
	top: 800px;
}

.galeria-fondo3{
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url(/assets/img/fondo-galeria-de-videos-min.png);
	background-size: contain;
	background-position: 100% 30%;
	background-repeat: no-repeat;

}

.galeria-cuerpo3{
	position: absolute;
	top: 2800px;
	width: 100%;
	height: 600px;

}

.galeria-cuerpo3-div{
	background-image: url(/assets/img/fondo-pie-degradado.png);
	background-size: contain;
	position: absolute;
	width: 100%;
	height: 500px;
	top: 100px; 
}

.sucursales-cuerpo3-div-diagonal{
	position: absolute; 
	width: 120%;
	left: -20%;
	height: 300px;
	top: -10%;
	background:white;
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    z-index: 0;
}

.galeria-fondo3-titulos1{
	position: absolute; 
	left: 15%;
	width: 20%;
	height: 20%;
	top: 200px;
}

.galeria-videos-grid{
	position: absolute;
	top: 300px; 
	width: 60%;
	left: 0;
	right: 0;
	margin: auto; 
	height: 450px;
	//background: blue;
}

.galeria-videos-col{
	position: absolute;
	width: 30%;
	height: 100%;
}
.galeria-video-item{
	cursor:pointer;
	position: relative;
	left: 0;
	right: 0;
	margin-left: 30px;
	margin-top: 20px;
	width: 80%;
}
.galeria-video-over{
	width: 100%;
	height: 108%;
	background: blue;
	opacity: 0.4;
	top: 0;
	position: absolute;
}
.galeria-video{
	position: absolute;
	left: 35%;
	width: 60%;
	height: 400px;
	top: 50px;
}
.galeria-fondo3-titulos2{
	position: absolute;
	right: 10%;
	width: 50%;
	height: 300px;
	top: 800px;
	text-align: right;
	font-size: 20%;
}
.galleryBox{
	position: relative; 
	margin-top: 10px;
	opacity: 0;
}
.gelleryItem{
	object-fit: contain;
}

@media only screen and (max-width: 1600px){
	.galeria-cuerpo2{
		height: 600px;
	}
	.galeria-cuerpo2-diagonal{
		top: 350px;
	}
	.galeria-cuerpo2-content{
		top: 550px;
	}
}
@media only screen and (max-width: 1400px){
	.galeria-fondo1{
		background-size: contain;
	}
	.galeria-cuerpo-absolute{
		top: 580px;
	}
	.galeria-cuerpo2-content{
		top: 300px;
		left: 200px;
		right: initial;
	}
	.galeria-cuerpo2-content-img{
		width: 80%;
		height: 400px;
	}
	.galeria-cuerpo2-content-titulos{
		width: 50%;
		left: 83%;
	}
	.galeria-image-circular-margin{
		top: 750px;
    	left: initial;
    	right: 100px;
    	width: 350px;
    	height: 350px;
    	border-radius: 200px;
	}
	.galeria-image-circular-img{
		width: 300px;
    	height: 300px;
    	border-radius: 150px;
	}
	.sello-galeria{
		top: 200px;
		transform: scale(0.9, 0.9);
	    -ms-transform: scale(0.9, 0.9);
	    -webkit-transform: scale(0.9, 0.9);
	}
	.galeria-video{
		top: 0px;
	}
	.galeria-fondo3-titulos2{
		top: 560px;
	}
	.galeria-fondo3-titulos1{
		top: 100px;
	}
	.galeria-videos-grid{
		top: 150px;
	}
	.font-13px{
		font-size: 13px;
	}
}

@media only screen and (max-width: 1024px){
	.galeria-cuerpo-absolute{
		top: 400px;
	}
	.galeria-cuerpo1{
		height: 600px;
	}
	.galeria-cuerpo1-titulos{
		top: 50px;
	}
	.galeria-cuerpo2{
		top: 900px;
	}
	.galeria-fondo2-titulos{
		width: 30%;
    	left: 2%;
	}
	.galeria-cuerpo2-content-titulos{
		width: 50%;
		left: 70%;
	}
	.galeria-cuerpo2-content-img{
		width: 70%;
		left: -5%;
	}
	.galeria-cuerpo2-content{
		width: 70%;
		left: 100px;
		z-index: 1;
	}
	.galeria-videos-grid{
		top: 300px;
		width: 90%;
	}
	.galeria-fondo3-titulos1{
		top: 200px;
	}
	.galeria-fondo3-titulos2{
		top: 800px;
		width: 70%;
	}
	.font-13px{
		font-size: 20px;
	}
	.sello-galeria{
		top: 100px;
	}
	.galeria-fondo2{
		top: 30%
	}
	.galeria-cuerpo2-titulos-1{
		top: 10px;
	}
}

@media only screen and (max-width: 768px){
	.galleryBox{
		position: relative; 
		margin-top: 10px;
		opacity: 1;
	}
	.galeria-overImg{
		background: rgba(255, 255, 255, 0.3);
	}
	.titulos-galeria{
		top: -30px;
	}
	.leer-mas-galerias{
		bottom: -30%;
	}
	.galeria-fondo3-titulos1{
		display: none;
	}
	.galeria-videos-grid{
		top: 250px;
	}

	.galeria-videos-col{
		position: absolute;
    	width: 150%;
    	height: 50%;
    	top: 400px;
    	left: -5%;
	}
	.galeria-video-item {
		width: 20%;
	}
	.galeria-video {
	    position: absolute;
	    left: 0;
	    right: 0;
	    margin: auto;
	    width: 100%;
	    height: 400px;
	}
	.galeria-cuerpo2-content-img{
		width: 100%;
		height: 300px;
	}
	.galeria-cuerpo2-content-titulos{
		top: 320px;
    	left: -60px;
    	width: 130%;
	}
	.galeria-cuerpo2-content-titulos-text{
		font-size: 20px
	}
	.galeria-cuerpo2-content{
		top: 250px;
	}
	.sello-galeria{
		top: 40px;
		transform: scale(0.7, 0.7);
	    -ms-transform: scale(0.7, 0.7);
	    -webkit-transform: scale(0.7, 0.7);
	}
	.galeria-cuerpo-absolute{
		top: 300px;
	}
	.gallery{
		height: 700px;
		top: 50px;
	}
	.galeria-cuerpo1{
		height: 550px;
	}
	.galeria-cuerpo2{
		top: 600px;
	}
	.galeria-cuerpo2-titulos-1-text{
		font-size: 10px;
	}
	.galeria-cuerpo2-titulos-1{
		left: 5%;
		width: 25%;
	}
	.galeria-fondo2-titulos-text{
		font-size: 14px;
	}
	.font-13px{
		font-size: 13px;
	}
	.galeria-fondo3-titulos2{
		top: 850px;
		width: 90%;
	}
	.sucursales-cuerpo3-div-diagonal{
		width: 130%;
    	left: -25%;
	}
	.galeria-cuerpo3{
    	top: 2600px;
	}
}

@media only screen and (max-width: 414px){
	.right-gallery-arrow {
		font-size: 45px;
	}
	.left-gallery-arrow{
		font-size: 45px;
	}
	.galeria-videos-col{
		top: 280px;
		left: 0px;
    	z-index: 1;
	}
	.diagonal-izquierda{
		left: -280px;
	}
	.diagonal-derecha{
		right: -280px;
	}
	.sello-galeria{
		top: -30px;
		transform: scale(0.3, 0.3);
    	-ms-transform: scale(0.3, 0.3);
    	-webkit-transform: scale(0.3, 0.3);
	}
	.galeria-cuerpo1{
		height: 230px;
		top: -100px;
	}
	.galeria-cuerpo1-titulos-text{
		font-size: 13px;
	}
	.galeria-cuerpo1-titulos{
		top: 5px;
	}
	.gallery{
		top: 0px;
		height: 300px;
	}
	.galeria-diagonal{
		height: 380px;
	}
	.galeria-cuerpo2{
		top: 120px;
		height: 400px;
	}
	.galeria-cuerpo2-titulos-1{
		top: 10px;
	}
	.galeria-cuerpo2-titulos-1-text{
		font-size: 12px;
	}
	.galeria-image-circular-margin{
		width: 200px;
    	height: 200px;
    	top: 400px;
    	right: 80px;
	}
	.galeria-image-circular-img{
		width: 180px;
    	height: 180px;
	}
	.galeria-cuerpo2-diagonal{
		height: 300px;
    	top: 200px;
	}
	.galeria-cuerpo2-content{
		top: 80px;
	}
	.galeria-cuerpo2-content-img{
		height: auto;
		left: 40px;
    	top: 20px;
    	width: 80%;
	}

	.galeria-cuerpo2-content-titulos-text{
		font-size: 12px;
	}
	.galeria-cuerpo2-content-titulos{
		top: 180px;
		left: -0px;
    	width: 100%;
	}
	.galeria-fondo3-titulos1{
		top: 100px;
		z-index: 1;
	}
	.galeria-videos-grid{
		top: 100px;
	}
	.galeria-fondo3{
		background-position: 100% 55%;
	}
	.galeria-video-item{
		top: 60px;
		height: auto;
		margin-left: 10px;
	}
	.galeria-fondo3-titulos2{
		top: 550px;

	}
	.font-13px{
		font-size: 10px;
	}
	.galeria-cuerpo3{
		top: 1400px;
		height: 400px;
	}
	/*.sucursales-cuerpo3-div-diagonal{
		width: 140%;
    	left: -35%;
    	height: 400px;
    	top: 20%;
	}*/
	.galeria-fondo2-titulos-text{
		font-size: 8px;
	}
	.galeria-cuerpo3-div{
		height: 300px;
	}
	.leer-mas-galerias {
    	bottom: -10%;
	}
}


@media only screen and (max-width: 375px){
	.galeria-videos-grid {
    	top: 50px;
	}
	.diagonal-izquierda{
		left: -250px;
	}
	.diagonal-derecha{
		right: -250px;
	}
	.galeria-cuerpo2-titulos-1{
		left: 0%;
    	width: 30%;
	}
	.galeria-video{
		top: 50px;
		height: 300px;

	}
	.galeria-fondo3-titulos2{
		top: 480px;
	}
	.galeria-fondo3{
		background-position: 100% 50%;
	}
	.leer-mas-galerias {
    	bottom: -20%;
	}
}

@media only screen and (max-width: 360px){
	.galeria-fondo3-titulos1 {
	    top: 50px;
	}
	.sello-galeria {
		top: -40px;
	}
	.galeria-cuerpo1{
		top: -130px;
	}
	.galeria-cuerpo2{
		top: 80px;
	}
	.galeria-cuerpo2-content-img{
		height: 200px;
	    left: 20px;
	    top: -30px;
	    width: 90%;
	}
	.galeria-videos-grid{
		top: 0px;
	}
	.galeria-fondo3-titulos2{
		top: 450px;
	}
	.galeria-fondo3 {
    	background-position: 100% 40%;
	}
	.fondo2-titulos-text {
    	font-size: 6px;
	}
}

@media only screen and (max-width: 320px){
	.galeria-videos-grid {
    	top: 30px;
	}
	.galeria-video {
	    top: 50px;
	    height: 200px;
	}
	.galeria-videos-col {
	    top: 180px;
	    left: 0px;
	    z-index: 1;
	}
	.galeria-fondo3-titulos2 {
    	top: 450px;
	}
	.galeria-fondo3-titulos1 {
    	top: 50px;
	}
	.diagonal-izquierda{
		left: -230px;
	}
	.diagonal-derecha{
		right: -230px;
	}
	.sello-galeria{
		top: -60px;
	}
	.galeria-cuerpo1{
		top: -150px;
	}
	.gallery{
		top: 00px;
	}
	.galeria-cuerpo2-titulos-1-text{
		font-size: 10px;
	}
	.galeria-fondo2-titulos-text{
		font-size: 6px;
	}
	.galeria-cuerpo2{
		top: 50px;
		height: 300px;
	}
	.galeria-image-circular-margin{
		width: 200px;
	    height: 200px;
	    top: 300px;
	    right: 20px;
	}
	.galeria-cuerpo2-content-titulos-text{
		font-size: 7px;
	}
	.galeria-cuerpo2-content-img{
		height: 180px;
    	left: 10px;
    	top: -30px;
    	width: 90%;
	}
	.galeria-cuerpo2-content-titulos{
		top: 160px;
	}
	.galeria-fondo3-titulos2{
		top: 370px;
	}
	.font-13px{
		font-size: 8px;
	}
	.leer-mas-galerias {
    	width: 100px;
	}
	.galeria-cuerpo2-diagonal {
        top: 100px;
	}
	.galeria-cuerpo3 {
    	top: 1100px;
	}
}

