.mexicano-modal{
	background: rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 10;
    padding: 0 5%;
}
.close-modal{
	position: absolute;
    right: -27px;
    color: white;
    top: -32px;
}
.mexicano-cupon{
	width: 20%;
	display: inline-block;
	margin: 0 0 2%;
}
.mexicano-cupon img{

}
.whiteFont-title{
    color: white;
    font-weight: bold;
    font-size: 20px !important;
    margin: 5px 0 0 !important;
}
	.terminos{
		color: white;
		font-weight: 300;
		font-size: 15px!important;
	}
.mexicano-send-email{
	background: #590202;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}
.mexicano-send-email p{
	color: white;
	margin: 0;
}
#mexicano-congrats-div{
	margin: 18% 25%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
}
#mexicano-used-mail{
	margin: 18% 25%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
}
.mexicano-used-title p{
	font-size: 50px;
    color: white;
    text-align: center;
    font-weight: bold;
}
.mexicano-used-description p{
	font-size: 20px;
    color: white;
    text-align: center;
    margin: 0 10%;
    padding: 0 0 10px;
}
	.cajas{
		padding: 0 0 10px;
	}
.mexicano-congrats-titulo p{
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: bold;
}
.mexicano-congrats-description p{
	font-size: 29px;
    color: white;
    text-align: center;
}
.mexicano-background{
	background-image: url(/assets/img/fondo-mexicano-que-se-respeta.png);
    background-size: cover;
    width: 100%;
    padding: 10% 0 0 0;
    position: absolute;
    background-color: white;
}
.mexicano-logo-div{
	width: 60%;
	position: absolute;
	top: 5%;
	right: 0;
	z-index: 1
}
.mexicano-formulario-container{
	width: 40%;
	position: relative;
	display: inline-block;
	margin: 0 0 7%;
	//margin: 0 20%;
}
.mexicano-descripcion-container{
	width: 100%;
	text-align: center;
	padding: 0 20%;
}
.mexicano-descripcion-container p{
	color: #590202;
	font-size: 20px;
	font-family: Oswald-Regular;
	margin-bottom: 0;
}
.mexicano-titulo-container{
	width: 100%;
	text-align: center;
	margin: 0 0 8%;
}
.mexicano-toro-div{
	position: absolute; 
	bottom: 4%; 
	right: 8%;
    width: 60%;
}
.mexicano-persona-div{
	position: absolute; 
	bottom: 4%; 
	right: 0%;
	width: 50%;
	text-align: right;
}
.mexicano-titulo-container p{
	color: #590202;
	font-size: 40px;
	font-family: Oswald-Regular;
}
.mexicano-formulario-header{
	background: #590202;
	border-radius: 10px;
	padding: 0 33%;
}
.mexicano-formulario-header img{
	margin: -30% 0;
	border-radius: 50%;
	border: 5px solid #590202;
}
.mexicano-form{
	background: rgba(255, 255, 255, 0.4);
	width: 45%;
	display: block;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
}
.mexicano-form-fields{
	padding: 11% 5% 0;
}
.mexicano-download-button{
	background: #590202;
    width: 100%;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 7px 0;
}
.mexicano-download-button:hover{
	background: #040300;
}
.terms-footer{
	background: #590202; 
	width: 100%; 
	text-align: center; 
	position: absolute; 
	bottom: 0; 
	padding: 0 10%; 
	overflow-y: hidden;
	max-height: 4%
}
.terms-footer p{
	font-size: 25px; 
	margin: 0;
}
.mexicano-terms{
    margin: 1% 10% 1%;

}
@media only screen and (max-width: 1700px){
	.mexicano-form{
		width: 70%;
	}
	.terms-footer p{
		font-size: 20px;
	}
	.mexicano-congrats-titulo p{
		font-size: 50px;
	}
	.mexicano-congrats-description p{
		font-size: 30px;
	}
}
@media only screen and (max-width: 1200px){
	.mexicano-background{
		padding: 15% 0 0;
	}
}

@media only screen and (max-width: 1100px){
	
	.mexicano-form {
	    width: 80%;
	}
}

@media only screen and (max-width: 768px){
	.mexicano-cupon{
		width: 80%;
	}
	.mexicano-modal{
		padding: 0 10%;
	}
	.mexicano-persona-div{
		display: none;
	}
	.mexicano-form {
	    width: 90%;
	}
	.mexicano-formulario-container{
		margin: 0% 25% 15%;
		width: 50%;
	}
	.mexicano-toro-div{
		right: 0;
	}
	.mexicano-logo-div{
		position: relative;
    	width: auto;
	}
}
@media only screen and (max-width: 414px){
	#mexicano-congrats-div {
	    margin: 50% 0;
	}
		.close-modal{
			top: -5%;
		    font-size: 30px;
		    right: -12px;
		}
			.mexicano-send-email p{
				font-size: 0.7rem;
			}
	#mexicano-used-mail {
    	margin: 59% 0;
	}
	.mexicano-used-title p{
		font-size: 50px;
	}
	.mexicano-used-description p{
		font-size: 30px;
	}
	.mexicano-congrats-titulo p{
		font-size: 30px;
	}
	.mexicano-congrats-description p{
		font-size: 20px;
	}
	.mexicano-formulario-container{
		margin: 0% 5% 25%;
    	width: 90%;
	}
	.mexicano-toro-div{
		width: 150%;
		right: -80%;
	}
	.terms-footer{
		padding: 0 5%;
	}
	.whiteFont-title{
		margin: 5% 0 5% !important;
		font-size: 18px !important;
	}
	.mexicano-terms p {
	    font-size: 10px !important;
	}
	.mexicano-terms {
	    margin: 0% 0 5%;
	}
	.mexicano-send-email{
		margin: 5%;
	}
	
}
@media only screen and (max-width: 360px){
	.mexicano-congrats-titulo p{
		font-size: 30px;
		margin: 0;
	}
	.mexicano-congrats-description p{
		font-size: 13px;
		margin: 0;
	}
	.mexicano-used-title p{
		font-size: 30px;
	    line-height: 1;
	    padding: 10px 0 0 0;
	}
	.mexicano-used-description p{
		font-size: 13px;
		margin: 0;
	}
	.mexicano-download-button{
		font-size: 20px;
	}
	.mexicano-send-email{
		margin: 0 0 3%;
	}
	.terms-footer p{
		font-size: 13px; 
	}
}
