.top{
	position: fixed;
	width: 100%;
	height: 100%;
}
.columna-top-1{
	position: absolute;
	width: 33.3%;
	height: 100%;
	left: 0%;
	background-image: url(/assets/img/columna-uno-min.jpg);
	background-size: 280% 130%;
	background-repeat: no-repeat;
	background-position: 45% -20%;

}
.columna-top-2{
	position: absolute;
	width: 33.3%;
	height: 100%;
	right: 33.3%;
	left: 33.3%;
	background-image: url(/assets/img/columna-dos-min.jpg);
	background-size: 280% 130%;
	background-repeat: no-repeat;
	background-position: 50% -15%; 
}

.columna-top-3{
	position: absolute;
	width: 33.3%;
	height: 100%;
	right: 0%;
	background-image: url(/assets/img/columna-tres-min.jpg);
	background-size : 280% 130%;
	background-repeat: no-repeat;
	background-position: 50% -15%; 
}

.titulo-columna-top{
	width: 60%;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 50%;
}

.cuerpo-absolute{
	position: absolute;
	top: 90%;
	width: 100%;
	height: 1710px;
}
.cuerpo1-servicios{
	position: absolute;
	width: 100%;
	height: 600px;
	top: 90%;

}
.cuerpo1-servicios-div{
	position: absolute;
	width: 100%;
	height: 500px;
	top: 20%;
	background: #1C1C1C;
}
.cuerpo1-servicios-content{
	position: absolute;
	left: 5%;
	width: 80%;
	height: 474px;
}
.text-left{
	text-align: right;
}
.cuerpo1-servicios-titulos{
	position: absolute;
	left: 8%;
	width: 70%;
	height: 40%;
	bottom: 0;
	top: 0;
	margin: auto;
}
.cuerpo1-servicios-image{
	position: absolute;
	left: 80%;
}
.gray-text{
	color: #7B7B7B;
}
.cuerpo2-servicios{
	position: absolute;
	top: 600px;
	width: 100%;
	height: 1710px;
	background: #1C1C1C;
}
.cuerpo2-fila{
	height: 342px;
	width: 100%;
	position: relative;
	opacity: 0;
}

.cuerpo2-columna{
	width: 50%;
	height: 100%;
	position: absolute;
}
.columna-right{
	right: 0%;
}
.columna-left{
	left: 0%;
}
.columna-2{
	right: 0%;
}
.columna-1{
	left: 0%;
}
.cuerpo2-image{
	height: 100%;
	width: 100%;
}
.columna-gris{
	background: #F3F3F3;
}
.columna-blanca{
	background: white;
}
.borde-sesgado-gris{
	position: absolute;
	top: -250px;
	width: 100%;
}
.borde-sesgado-servicios{
	-ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
    z-index: 0;
    width: 100%;
    position: absolute;
    top:  -95px;
}
.cuerpo2-titulos{
	position: absolute;
	width: 80%;
	height: 50%;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.text-justify{
	text-align: justify;
    text-justify: inter-word;
}

.video-servicios-div{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.video-servicios{
	position: absolute;
	top: 0%;
	width: 110%;
	height: 100%;
	left: -5%;
}

.footer-servicios{
	position: absolute;
	top: 3700px;
	width: 110%;
	height: 95%;
	left: -5%;	
}

.footer-servicios-div{
	background-image: url(/assets/img/fondo-pie-degradado.png);
	background-size: contain;
	position: absolute;
	width: 100%;
	height: 80%;
	top: 20%; 
}
.footer-servicios-titulos{
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	margin: auto;
	width: 80%;
	height: 60%;
}
.footer-servicios-brand{
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	background: #454545;
}

.leer-mas-servicios{
	position: absolute;
	bottom: 0%;
	width: 15%;
	height: auto;
	margin: auto;
	left: 0;
	right: 0;
	background: #353432;
	border: 2px solid white;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}
.leer-mas-servicios:hover{
	background: #7A7A7A;
}
@media only screen and (max-width: 1280px){
	.cuerpo2-servicios{
		top: 650px;
	}
	.cuerpo1-servicios{
		top: 90%;
	}
	.borde-sesgado-gris{
		top: -200px;
	}
	.cuerpo-absolute{
		top: 70%;
	}
	.borde-sesgado-servicios{
		top: -150px;
	}

}

@media only screen and (max-width: 1024px){
	.borde-sesgado-gris{
		top: -150px;
	}
	.columna-top-1{
		top: 0%;
		width: 100%;
		height: 365px;
		background-size: 100%;
	}
	.columna-top-2{
		top: 365px;
		width: 100%;
		height: 365px;
		right: 0;
		left: 0;
		background-size: 100%;
	}
	.columna-top-3{
		top: 730px;
		width: 100%;
		height: 365px;
		background-size: 100%;
	}
	.titulo-columna-top{
		top: 35%;
	}
	.leer-mas-servicios{
		width: 30%;
	}
}
@media only screen and (max-width: 768px){
	.footer-servicios-brand{
		height: 100px;
	}
	.cuerpo2-servicios{
		top: 600px;
	}
	.borde-sesgado-gris{
		top: -100px;
	}
	.cuerpo1-servicios{
		top: 90%;
	}
	.cuerpo-absolute{
		top: 90%;
	}
	.borde-sesgado-servicios{
		top: -100px;
	}
}
@media only screen and (max-width: 414px){
	.cuerpo2-fila{
		height: 220px;
	}
	.columna-top-1{
		top: 0%;
		width: 100%;
		height: 33.3%;
	}
	.columna-top-2{
		top: 33.3%;
		width: 100%;
		height: 33.3%;
	}
	.columna-top-3{
		top: 66.6%;
		width: 100%;
		height: 33.3%;
	}
	.borde-sesgado-gris{
		top: -60px;
	}
	.cuerpo1-servicios-titulos{
		font-size: 70%;
	}
	.cuerpo1-servicios-content{
		height: auto;
	}
	.cuerpo1-servicios-div{
		height: 200px;	
	}
	.invitation{
		font-size: 80%;
	}
	.cuerpo-absolute{
		top: 42%;
	}
	.cuerpo2-servicios{
		height: 1400px;
	}
	.cuerpo1-servicios{
		top: 85%;
	}
	.columna-1{
		width: 100%;
	}
	.columna-2{
		top: 1100px;
		width: 100%;
	}
	.footer-servicios{
		top: 3020px;
		height: 70%;
	}
	.borde-sesgado-servicios{
		top: -45px;
	}
	.video-servicios-div{
		display: none;
	}
	.leer-mas-servicios{
		width: 30%;
		bottom: 20%;
	}
}

@media only screen and (max-width: 375px){
	.footer-servicios-titulos {
		top: 30px;
	}
	.leer-mas-servicios{
		bottom: 0%;
	}
	.footer-servicios{
		top: 3000px;
	}
}

@media only screen and (max-width: 320px){
	.cuerpo2-servicios{
		top: 620px;
	}
	.borde-sesgado-gris{
		top: -25%;
	}
	.cuerpo-absolute{
		top: 20%;
	}
	.cuerpo1-servicios{
		top: 80%;
	}
	.footer-servicios{
		top: 2850px;
		height: 80%;
	}
	.footer-servicios-brand{
		font-size: 80%;
	}
}
