
.item-1, 
.item-2, 
.item-3,
.item-4,
.item-5,
.item-6{
  position: absolute;
  display: block;
  top: 2em;
  line-height: 1.3;
  width: 100%;
  font-size: 1.7em;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.item-1{
  animation-name: anim-1;
  animation-duration: 42s;
}

.item-2{
  animation-name: anim-2;
  animation-duration: 42s;

}

.item-3{
  animation-name: anim-3;
  animation-duration: 42s;

}
.item-4{
  animation-name: anim-4;
  animation-duration: 42s;

}

.item-5{
  animation-name: anim-5;
  animation-duration: 42s;

}

.item-6{
  animation-name: anim-6;
  animation-duration: 42s;

}

@keyframes anim-1 {
  0%, 2.38% { right: -100%; opacity: 0; }
  2.38%,14.28% { right: 0%; opacity: 1; }
  16.66%, 100% { right: 110%; opacity: 0; }
}
//2.38
//11.9
@keyframes anim-2 {
  0%, 16.66% { right: -100%; opacity: 0; }
  19.04%, 30.94% { right: 0%; opacity: 1; }
  33.32%, 100% { right: 110%; opacity: 0; }
}

@keyframes anim-3 {
  0%, 33.32% { right: -100%; opacity: 0; }
  35.7%, 47.6% { right: 0%; opacity: 1; }
  49.98%, 100% { right: 110%; opacity: 0; }
}
@keyframes anim-4 {
  0%, 49.98% { right: -100%; opacity: 0; }
  52.36%, 64.25% { right: 0%; opacity: 1; }
  66.64%, 100% { right: 110%; opacity: 0; }
}

@keyframes anim-5 {
  0%, 66.64% { right: -100%; opacity: 0; }
  69.02%, 80.92% { right: 0%; opacity: 1; }
  83.3%, 100% { right: 110%; opacity: 0; }
}

@keyframes anim-6 {
  0%, 83.3% { right: -100%; opacity: 0; }
  85.68%, 97.58% { right: 0%; opacity: 1; }
  100% { right: 110%; opacity: 0; }
}