#password-recovery-modal div p{
    color: white;
    margin: 3% 0px;
    font-size: 20px;
    font-weight: bold;
}
#password-recovery-modal div form p{
    color: white;
    margin: 1% 0px;
    font-size: 15px;
    font-weight: bold;
}
.modal-container{
      background: rgba(5, 5, 5, 0.8);
      padding: 5%;
      text-align:center;
}
.wallsCard-logo-div-modal {
    text-align: center;
}
h3.whiteFont.wallsCard-saludo {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0 5px;
    //text-align: center;
}
.wallsCard-tab-div{
	//text-align: center;
}
.wallsCard-modal-tab-border.wallsCard-tab-left.whiteFont {
    color: white;
    font-weight: 100;
    display: inline-block;
    margin: 5px 0 5px;
    //text-align: center;

}
.wallsCard-modal-tab-border.wallsCard-tab-right.whiteFont.ng-binding {
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    //text-align: center;

}

.wallsCard-modal-tab-border.wallsCard-tab-center.whiteFont {
    font-weight: 100;
    margin: 8px 0;
    //text-align: center;

}	
@media (max-width: 414px){
	.wallsCard-modal-text{
		font-size: 11px;
	}
	.wallsCard-modal-title{
		font-size: 13px;

	}
}

@media (max-width: 320px){
	.wallsCard-modal-text{
		font-size: 8px;
	}
	.wallsCard-modal-title{
		font-size: 10px;
		margin: 3px;
	}
}