.sucursales-mobile-container{
	 width: 100%;
	 height: 100%; 
	 background: white;
	 display: none;
}
.sucursales-mobile-title-container{
	width: 100%; 
	background: #F0EFEF;
	padding-left: 5%;
	padding-right: 5%;
	border-top: 2px solid black;
}
.sucursales-mobile-image{
	margin: 10px 10px 10px 0;
	width: 100px; 
	display: inline-block;
}
.sucursales-mobile-title-div{
	display: inline-block; 
}
.sucursales-mobile-flecha-div{
	display: inline-block; 
	margin: 5% 5% 0;
	position: absolute;
	right: 0px;
}
.sucursales-mobile-title-div h3{
	//position: absolute; 
	//margin-left: 10%;
}
.sucursales-mobile-title-div h3 i{
	top: 5px; 
	position: relative;
}
.sucursales-mobile-info{
	width: 100%; 
}
.sucursales-mobile-info-div{
	width: 60%; 
	margin: 5% 10px; 
	display: inline-block;
	vertical-align: middle;

}
.sucursales-mobile-info-div p{
	margin: 0;
}
.sucursales-mobile-info-comollegar-container{
	width: 30%;
	display: inline-block; 
	vertical-align: middle;
	margin: 0 auto;
}
.sucursales-mobile-info-comollegar{
	background: #ffffff; 
	border-radius: 22px;
	border: 2px solid black; 
	display: inline-block;
	padding: 3px 10px;
	vertical-align: middle;
	margin-bottom: 0;
    //margin-top: 40px;
}
.sucursales-mobile-contact{
	display: inline-block;
	width:70%
}
.sucursales-mobile-contact div{
	display: inline-block;
	margin-left: 5%;
}
.sucursales-mobile-social{
	display: inline-block;
	margin-left: 30px;
}
.tyc {
	    position: relative;
	    display: block;
	    text-align: center;
	    width: 100%;
	  }
	  .tyc:after {
	    position: absolute;
	    content: " ";
	    width: 100%;
	    height: 1px;
	    background: black;
	    top: 50%;
	    left: 0;
	    z-index: 1;
	  }
	  .tyc h6 {
	    display: inline-block;
	    margin: 0;
	    padding: 0;
	    background: #fff;
	    border-radius: 0.7em;
	    font-size: 0.9em;
	    color: black;
	    border-left: 0.5em solid white;
	    border-right: 0.5em solid white;
	    position: relative;
	    z-index: 2;
	  }

.sucursales-v3-infoDiv{
	width: 280px; 
	background: white; 
	z-index: 1; 
	border: 3px solid black;
	padding: 0 10px 0 24%;
	height: 164px;

}
.sucursales-v3-infoImage{
	position: absolute; 
	width: 164px;
    height: 165px; 
	border-radius: 120px; 
	top: -0.5px; 
	left: -98px;
	border: 3px solid black;
}
.sucursales-contact-icons{
	font-size: 15px;
	position: relative;
	top: 2px;
}
.sucursal-v3-title{
	text-align: center;
	margin-top: 10px;
}
.sucursal-v3-title-text{
	font-size: 16px;
	line-height: 1;
}
.sucursal-v3-info{
	min-height: 30px;
	text-align: center;
}
.sucursal-v3-info-text{
	font-size:10px;
	line-height: 1;
}
.sucursal-social-icons-div{ 
	vertical-align: top;
	display: inline-block;
	margin: 5px;
}
.sucursal-v3-social-icon{
	color: black; 
	margin-bottom: 10px;
	font-size: 23px;
}
.sucursales-cabecerav2{
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url(/assets/img/fondo-top-min.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.sucursales-cabecera-titulos-div{
	position: absolute;
	top: -400px;
	margin: auto;
	left: 0; 
	right: 0;
	width: 90%;
	text-align: center;
}
.sucursalesv2-cuerpo-absolute{
	position: absolute;
	width: 100%;
	top: 100%;
	height: 1600px;
}
.sucursales-cuerpo-sello{
	position: absolute;
	width: 100%;
	height: 400px;
	background: black;
}
.sucursales-cuerpo-sello-img{
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: -235px;
	transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
}
.sucursales-cuerpo-sello-mascara{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
}
.sucursales-cuerpo-sello-titulos-div{
	position: absolute;
	width: 60%;
	margin: auto;
	left: 0; 
	right: 0;
	top: 250px;
	text-align: center;
}
.sucursales-mapa-div{
	position: absolute;
	top: 400px;
	width: 100%;
	height: 800px;
	background: black;
}
.sucursales-footer-div{
	position: absolute;
    width: 100%;
    height: 500px;
    top: 1200px;
}
.sucursal-map-instrucciones{
	position: static;
	background: white;
	width: 250px;
	height: 250px;
	text-align: center;
}
.div-inner-sucursal{
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	width: 90%;
}
.sucursal-map-barra{
	position: absolute;
	background: rgba(51, 51, 51, .6);
	width: 70px;
	height: 550px;
	text-align: center;
}
.plus-icon{
	position: absolute;
	top: 275px;
	margin: auto;
	left: 0; 
	right: 0; 
}
.sucursal-map-menu{
	opacity: 0;
	position: absolute;
	background: white;
	padding:20px;
	width: 500px;
	overflow: scroll;
	height: 550px;
	overflow-x: hidden;
}
.sucursales-mapa-close{
	position: absolute;
	right: 3px;
	z-index: 1;
}
.sucursal-map-grid{
	position: absolute;
	width: 100%;
	padding: 20px;
}
.sucursales-columna-izquierda{
	position: absolute;
	left: 0;
	width: 50%;
	height: 500px;
}
.sucursales-columna-derecha{
	position: absolute;
	right: 0;
	width: 50%;
	height: 500px;
}
.sucursales-menu-item{
	position: relative;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
}
.sucurasles-menu-item-image{
	width: 200px;
	height: 150px;
}

.state{
	opacity: 0;
	//background: red;
}

.sucursal-img{
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 200px;
	height: 150px;
	top: 170px;
}
.sucursal-titulo{
	position: absolute;
	text-align: center;
	width: 80%;
	margin: auto;
	left: 0;
	right: 0;
}
.sucursal-info{
	position: absolute;
	text-align: center;
	width: 80%;
	margin: auto;
	left: 0;
	right: 0;
	top: 350px;
}

@media only screen and (max-width: 768px){
	.map-container{
		display: none;
	}
	.sucursales-mobile-container{
		display: inherit;
	}
	.sucursal-v3-social-icon{
		font-size: 35px;
	}
	.sucursalesv2-cuerpo-absolute{
		height: auto;
	}
	.sucursales-mapa-div{
		position: relative;
		height: auto;
		top: 0px;
	}
	.sucursales-footer-div{
		position: relative;
		height: auto;
		top: 0px;
	}
	.sucursales-cuerpo-sello{
		position: relative;
		//height: auto;
	}
	.sucursales-mobile-info-div p{
		font-size: 17px;
	}
	.sucursales-mobile-contact div p{
		font-size: 18px;
	}
	.sucursales-cuerpo-sello-titulos-div{
		top: 190px;
	}
	.sucursales-mobile-info-comollegar{
		padding: 5px 15px;
	}
	.sucursales-mobile-info-comollegar p{
		font-size: 18px; 
		margin: 0;
	}
	.sucursal-map-grid{
		padding: 0;
	}
	.sucursal-map-menu{
		padding: 10px;
		width: 550px;
	}
	.sucursales-leer-mas{
		bottom: -5%;
	}
	.tyc h6 {
	    display: inline-block;
	    margin: 0;
	    padding: 0;
	    background: #F0EFEF;
	    border-radius: 0.7em;
	    font-size: 0.9em;
	    color: black;
	    border-left: 0.5em solid #F0EFEF;
	    border-right: 0.5em solid #F0EFEF;
	    position: relative;
	    z-index: 2;
	  }
	 .tyc:after {
	    position: absolute;
	    content: " ";
	    width: 100%;
	    height: 2px;
	    background: black;
	    top: 50%;
	    left: 0;
	    z-index: 1;
	  }

}
@media only screen and (max-width: 414px){
.sucursal-v3-social-icon{
	font-size: 30px;
}
.sucursales-mobile-info-div p{
	font-size: 14px;
}
.sucursales-mobile-info-comollegar{
	padding: 5px 10px;
}
.sucursales-mobile-info-comollegar p{
	font-size: 14px; 
}
.sucursales-mobile-contact div p{
		font-size: 13px;
	}
.sucursales-mobile-info-comollegar{
	margin: 20% 0;
}
.sucursales-mobile-image{
	margin: 0 10% 0 0;
	width: 20%; 

}
.sucursales-mobile-title-container{
	padding: 0 3px;
}
.sucursal-img{
    top: 120px;
    width: 250px;
    height: 200px;
}
.sucursal-info{
	top: 350px;
}
.sucursal-titulo{
	top: 30px;
}
.sucurasles-menu-item-image{
	width: 230px;
}
.sucursal-name-select{
	font-size: 20px;
}
.sucursal-name{
	font-size: 20px;
}
.sucursales-title{
	font-size: 30px;
	margin-left: 20px;
}
.sucursal-map-menu{
	opacity: 0;
	position: absolute;
	background: white;
	width: 350px;
	overflow: scroll;
	height: 650px;
	padding:0;
	overflow-x: hidden;
}
.sucursales-columna-izquierda{
	position: relative;
	left: -25px;
	height: auto;
	margin: auto;
	width: 50%;
}
.sucursales-columna-derecha{
	position: relative;
	width: 50%;
	top: 10px;
	left: -25px;
	margin: auto;
}

.sucursalesv2-cuerpo-absolute{
	height: 1300px;
}
.sucursales-leer-mas{
	bottom: 0%;	
	width: 40%;
}

}
@media only screen and (max-width: 375px){
	.sucursales-leer-mas{
		bottom: -15%;
	}
	/*.sucursales-mobile-image{
		width: 40px;
		margin: 0;
	}*/
	.sucursales-mobile-image{
		margin: 0 5% 0 0;
	}
}
@media only screen and (max-width: 360px){
.sucursales-mobile-flecha-div{
	margin: 3% 0;
}

}
@media only screen and (max-width: 320px){
.sucursales-cuerpo-sello-img{
	top: -150px;
}

.sucursales-mobile-info-comollegar{
	padding: 3px;
}
.sucursales-mobile-image{
	margin: 0;
}
}
