
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Oswald', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
/*---------------------------------------
   COMMON STYLES             
-----------------------------------------*/

.section_title {
    padding-top: 90px;
    padding-bottom: 50px;
}
.section_title h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: #333;
    font-size: 30px;
    font-weight: 400;
}
.section_title h2:after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 60px;
    height: 1px;
    background-color: #f39c12;
    left: 50%;
    margin-left: -30px;
}
.section_title p {
    text-align: center;
    margin-top: 45px;
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}
.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*---------------------------------------
   SECTION HOME              
-----------------------------------------*/
/*menu*/

.header h2 {
    height: 0px;
    margin: 0px;
}
.navbar {
    margin-top: -100px
}
.navbar-brand {
    padding: 9px 15px;
}
@media(min-width:768px) {
    .navbar-default {
        background-color: transparent;
    }
    .navbar-default .navbar-nav>li>a {
        color: #B5B5B;
        font-family: 'Raleway', sans-serif;
    }
    .navbar-default .navbar-nav>li>a:hover {
        color: #f39c12;
    }
    .navbar-default .navbar-nav>li>a:focus {
        color: #B5B5B5;
    }
    .navbar-default {
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        z-index: 110;
    }
    .navbar-brand img {
        padding-top: 25px;
        height: 45px;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    .navbar-default .navbar-nav>li>a {
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    .navbar-nav>li>a {
        padding-top: 45px;
    }
}
@media (max-width: 768px) {
    .navbar-brand img {} .navbar-default {
      /*  background-color: #fff !important; */
    }
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background: transparent;
    color: #737373;
}
.header {
    background: url(../images/fondo-top-fraq-min.jpg);
    background-size: cover;
	background-repeat: no-repeat;	
	background-color: black;
    background-position: 50% 0px !important;
}

.header .section_overlay {
    background-color: rgba(255, 255, 255, .15);
}
.logo{
    padding-bottom: 50px;
}
.home_text{
    text-align: left;
}
.home-iphone{
    text-align: right;
}
.home-iphone img{
    width: 100%;
}

@media (max-width: 768px){
    .home-iphone{
        display: none;
    }
    .home_text{
        text-align: center;
    }

}
.home_text h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px
}
.home_text p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    margin-top: 0px;
    font-weight: 300;
}
.download-btn {
    margin-top: 90px;
    margin-bottom: 50px
}
.home-btn,
.home-btn:focus,
.home-btn:active,
.home-btn:visited {
    background: transparent;
    border-color: #f39c12;
    color: #f39c12;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.home-btn:hover {
    background-color: #f39c12;
    color: #fff;
}
.tuor,
.tuor:focus,
tuor:active,
tuor:visited {
    color: #A9ADB0;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
    background: transparent;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.tuor:hover {
    color: #fff;
}
.tuor i {
    font-size: 20px;
    padding-left: 5px;
    color: #f39c12;
}



/*---------------------------------------
   SECCIÓN CUERPO UNO            
-----------------------------------------*/



.cuerpo_uno {
    background: #1C1C1C;;
}
.inner_about_area {
    padding-top: 50px;
	padding-bottom: 40px;
}
.inner_about_title {
    padding-bottom: 50px;
}
.inner_about_title h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    position: relative;
}
.inner_about_title h2:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 70px;
    background: #f39c12;
    height: 1px;
}
.inner_about_title p {
    font-size: 19px;
    line-height: 24px;
    margin-top: 40px;
}
.inner_about_desc {} .single_about_area {
    position: relative;
    padding-bottom: 4px;
    padding-left: 80px;
}
.single_about_area div {
    position: absolute;
    top: 0px;
    left: 0px;
}
.single_about_area div i {
    font-size: 55px;
    color: #efefef;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.single_about_area h3 {
    color: #FFF;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 800;
}
.single_about_area p {
    color: #efefef;
    font-size: 15px;
}
.single_about_area:hover div i {
    color: #fff;
}
.about_phone img {} @media (min-width: 991px) and (max-width: 1200px) {
    .about_phone img {
        margin-top: 184px;
        width: 80%;
        margin-right: 20%
    }
}

/*---------------------------------------
   SECCIÓN ¡ABRE TU FRANQUICIA!            
-----------------------------------------*/

#owl-demo .item {
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 50px;
}
#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}
.seccion_abre_franquicia {
    background: url(../images/fondo-cuerpo-dos-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.seccion_abre_franquicia .section_overlay {
    background: rgba(0, 0, 0, .45);
    padding-top: 80px;
    padding-bottom: 80px;
}

/*---------------------------------------
   SECTION FEATURES              
-----------------------------------------*/

.features {
    background-color: #f1f1f1
}
.feature_inner {
    padding-top: 30px;
    padding-bottom: 70px;
}
.feature_iphone {} .feature_iphone img {
    width: 100%;
}
.right_single_feature {
    position: relative;
    padding-left: 90px;
    margin-bottom: 65px;
    margin-top: 35px;
}
@media (max-width: 1200px){ 
.right_single_feature {
	padding-left: 35px;
	text-align: right;
	
    	
	}
}
@media (max-width: 992px){ 
.right_single_feature {
	text-align: center;
	padding-left: 0px;
	margin-left: 0px !important;
	
    	
	}
}
.right_single_feature div {
    position: absolute;
    font-size: 40px;
    color: #f39c12;
    left: 0;
    width: 90px;
    height: 90px;
    text-align: center;
    top: -8px;
}
.right_single_feature h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #FFF;
}
.right_single_feature h3 span {
    color: #f39c12;
}
.right_single_feature p {
    color: #e9e9e9;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
/*left feature*/

.left_single_feature {
    position: relative;
/*    padding-right: 90px; */
    margin-bottom: 65px;
    text-align: right;
    margin-top: 35px;
}
@media (max-width: 992px){ 
.left_single_feature {
	text-align: center;
	margin-bottom: 0px;
    	
	}
}
.left_single_feature div {
    position: absolute;
    font-size: 40px;
    color: #f39c12;
    right: 0;
    width: 90px;
    height: 90px;
    text-align: center;
    top: -8px;
}
.left_single_feature h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #FFF;
}
.left_single_feature h3 span {
    color: #e9e9e9;
}
.left_single_feature p {
    color: #e9e9e9;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
.right_no_padding {
    padding-left: 15px;
}
.left_no_padding {
    padding-right: 15px;
}
@media (min-width: 991px) and (max-width: 1200px) {
    .right_single_feature {
        margin-left: -120px;
    }
    .left_single_feature {
        margin-right: -60px;
    }
    .feature_iphone {
        margin-top: 35px;
    }
    .right_single_feature h3,
    .left_single_feature h3 {
        margin-top: 0px;
        margin-bottom: 15px;
		padding: 0 25px;
    }
}


/*---------------------------------------
   SECTION CALL TO ACTION              
-----------------------------------------

.call_to_action {
    background-color: #1a1a1a;
    padding-top: 100px;
    padding-bottom: 100px;
}
.call_to_action p {
    color: #dfdfdf;
    font-size: 18px;
    font-weight: 300;
}
.call_to_action a {} .btn-action,
.btn-action:active,
.btn-action:focus,
.btn-action:visited {
    background: #f39c12;
    border: 1px solid #f39c12;
    color: #fff;
    border-radius: 3px;
    padding: 15px 35px;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.btn-action:hover {
    background: #FF6B80;
    border-color: #FF6B80;
}

/*---------------------------------------
   SECTION APPS SCREEN             
-----------------------------------------
.apps_screen {
    background: #f1f1f1;
    padding-bottom: 96px;
}
.screen_slider {
    padding-top: 50px;
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #f39c12;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    opacity: 1;
    background: #f39c12;
}
/*---------------------------------------
   SECTION FUN FACTS              
-----------------------------------------

.fun_facts {
    background: url(../images/fun_bg.jpg) no-repeat center;
    background-size: cover;
}
.fun_facts .section_overlay {
    padding-top: 120px;
    padding-bottom: 120px;
    background: rgba(0, 0, 0, .4);
}
.single_fun_facts {
    font-family: 'Source Sans Pro', sans-serif;
}
.single_fun_facts i {
    color: #f39c12;
    font-size: 60px;
    ;
}
.single_fun_facts h2 {
    color: #D7DADB;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 1px;
    font-family: 'Source Sans Pro', sans-serif;
}
.single_fun_facts h2 span {
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
}
.single_fun_facts p {
    color: #D7DADB;
    font-size: 20px;
    margin-top: 0px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}
/*---------------------------------------
   SECTION DOWNLOAD              
-----------------------------------------

.download {
    background: #f1f1f1;
}
.download_screen {
    padding-top: 45px;
}
.download_screen img {
    width: 100%
}
.available_store {
    background: #1a1a1a;
    margin-top: -8px;
    position: relative;
}
.available_title {
    padding-top: 75px;
}
.available_title h2 {
    color: #fff;
    font-size: 30px;
}
.available_title p {
    color: #B5B5B5;
}
.single_store {
    text-align: center;
    border-left: 1px solid #0F1217;
    min-height: 230px;
    padding-bottom: 15px;
    position: relative;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.single_store i {
    color: #f39c12;
    text-align: center;
    opacity: 1;
    font-size: 40px;
    padding-top: 90px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.store_inner {
    position: absolute;
    bottom: 93px;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.store_inner h2 {
    text-align: center;
    font-weight: 300;
    color: #d7dadb;
    font-size: 16px;
}
.single_store:hover {
    background: #121212;
}
.single_store:hover i {
    opacity: 0;
}
.single_store:hover div.store_inner {
    opacity: 1;
}
.no_padding {
    padding-left: 0px;
    padding-right: 0px;
}
.last {
    border-right: 1px solid #0F1217;
}
/*---------------------------------------
   SECTION CONTACT              
-----------------------------------------*/

.contact {
    background: #fff;
    padding-bottom: 150px;
	background-image: url(images/fondo-degradado-footer.png);
    background-position: bottom;
    background-repeat: repeat-x;
}
.contact_form {
    padding-top: 30px;
}
.contact_form .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
	font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: transparent;
    border: 1px solid #fff;
    background-image: none;
    border-radius: 3px;
    margin-bottom: 15px;
    opacity: .8;
     -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    outline: 0px !important;   
	background: #f6f6f6;

}
.contact_form .form-control:focus {
    border: 1px solid #f39c12;
    border-color: #000;
    outline: 0px none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px rgba(102, 175, 233, 0.6);
}
.contact_form {} .form-control:-webkit-input-placeholder {
    color: red;
}
.form-control:-moz-placeholder {
    /* Firefox 18- */
    
    color: red;
}
.form-control:-moz-placeholder {
    /* Firefox 19+ */
    
    color: red;
}
.form-control:-ms-input-placeholder {
    color: red;
}
.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
    background-color: transparent;
    border: 1px solid #efefef;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #7a7a7a;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    outline: 0px !important;
	font-family: 'Lato', sans-serif;
}
.submit-btn:hover {
    background-color: #7a7a7a;
    color: #fff;
    border-color: #333;
}
.social_icons {
    padding-top: 50px;
    padding-bottom: 70px;
}
.social_icons ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
.social_icons ul li {
    list-style: none;
    display: inline;
    padding-left: 10px
}
.social_icons ul li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    width: 45px;
    height: 45px;
    line-height: 49px;
    color: #9d9d9d;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.social_icons ul li a i {
    font-size: 20px;
}
.social_icons ul li a:hover {
    background: #f39c12;
    border: 1px solid #f39c12;
    color: #fff
}
.error {
    color: #f39c12;
    display: block;
    padding-bottom: 15px;
    font-size: 18px
}
.error i {
    padding-right: 10px;
    font-size: 18px
}
.Sucess {
    color: #4DB849;
    display: block;
    padding-bottom: 15px;
    font-size: 18px;
    text-align: center;
}
.Sucess i {
    padding-right: 10px;
    font-size: 18px;
    color: #4DB849
}
.contact_form .form-control {
    color: #3d3d3d;
}
#message {
    height: 309px;
    resize: none;
}
@media (max-width: 992px){
#message {
    height: 170px;
}
}
/*---------------------------------------
   SECTION SUBSCRIBE              
-----------------------------------------

.subscribe {
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.subscribe .section_overlay {
    padding-bottom: 70px;
    background: transparent
}
.subscribe .section_title h2{
	color: #eaeaea;
}
.subscribe .section_title p{
	color: #a4a4a4;
}
.subscribe_form {
    text-align: center;
    padding-top: 30px;
}
.subscribe_form .form-group {} .subscribe_form .form-control {
    background: transparent;
    border: 1px solid #575b63;
    border-radius: 0px;
    height: 45px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    color: #aeaeae;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.subscribe_form .form-control:focus {
    background: transparent;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: none;
}
.subs-btn,
.subs-btn:active,
.subs-btn:focus,
.subs-btn:visited {
    width: 200px;
    background: transparent;
    border: 1px solid #f39c12;
    border-radius: 4px;
    height: 45px;
    margin-left: 0px;
    margin-bottom: 1px;
    color: #f39c12;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    outline: 0px !important;
}
.subs-btn:hover {
    background-color: #f39c12;
    color: #fff;
    border-color: #f39c12;
}
@media (min-width: 300px) {
    .subscribe_form .form-control {
        width: 100%
    }
}
.subscription-success {
    color: #fff;
    text-align: center;
    font-size: 20px;
}
.subscription-error {
    color: #fff;
    text-align: center;
    font-size: 20px;
}
/*---------------------------------------
   SECTION FOOTER              
-----------------------------------------*/

.copyright {
    background-color: #474747;
    padding-bottom: 20px;
    padding-top: 15px;
    
}
.copyright h2 {
    height: 0px;
    margin: 0px;
}
.copy_right_text {
    text-align: center;
}
.copy_right_text p {
    color: #fff;
    font-size: 14px;
}
.copy_right_text p a {
    text-decoration: none;
    color: #f39c12;
}
.copy_right_text p span {
    font-weight: 300;
}
.scroll_top {
    text-align: right;
}
.scroll_top a {
    background: #f39c12;
    padding: 25px;
}
.scroll_top a i {
    color: #fff;
    font-size: 25px;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: red;
    background-image: none;
    color: rgb(0, 0, 0);
}
.spn_hol {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
/* 	background: transparent; */
    z-index: 50000;
    opacity: 1;
     -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.spinner {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 50%;
    margin-left: -35px;
    height: 24px;
    width: 70px;
    text-align: center;
    display: block;
}
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}
@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
/* estilo generales */
a {
    text-decoration:none !important; 
}

@media (min-width: 1200px){
.col-md-8 {
    width: 68%;
}
}

/* estilos generales fondo segado uno negro */

.fondo_segado_uno{
    margin: 4px 0 0;
    padding: 0px;
    background-color: #1C1C1C;;
    display: flex;
}

.fondo_segado_uno:before {
    content: '';
    top: -120px;
    left: 0;
    width: 100%;
    height: 139px;
    z-index: 2 !important;
    position: relative;
	background:url('images/fondo-sesgado-min.png') no-repeat bottom center;
    -moz-background-size:100% 139px;
    background-size:100% 139px;
}

/* Estilos TOP*/

.sello_imagen {} .sello_imagen img {
    width: 100%;
}
.sello_imagen{
        margin-top: 35px;
    }
	
@media (min-width: 992px){   
	.texto_top_derecha {
		width: 25%;
		margin-right: -100px;
		margin-top: 170px;
 }
}

@media (max-width: 1199px){   
	.texto_top_izquierda {
	margin-left: 616px !important;
    
 }
}

@media (max-width: 1024px){   
	.texto_top_izquierda {
	margin-left: 664px !important;
    
 }
}

@media (min-width: 993px){   
	.texto_top_izquierda {
	margin-left: 756px;
    margin-top: 170px;
    position: absolute;
    width: 30%;
 }
}

@media (max-width: 992px){   
	.texto_top_izquierda {
	margin-left: 0px !important;
    margin-top: 0px;
    position: relative;
    width: 100%;
 }
}
.pararafo_top {
    text-align: center;
    color: white;
    padding-top: 26px;
	font-size: 20px;
    line-height: 24px;
	
}
.boton_top_centrado {
    text-align: center;
    margin-top: 50px;
	margin-bottom: 70px;
}

.boton-estilo,
.boton-estilo:active,
.boton-estilo:focus,
.boton-estilo:visited {
    background: rgba(255,255,255,0.75);
    border: 1px solid #929292;
    color: #333;
    border-radius: 0px;
    padding: 8px 35px;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
	font-size: 20px;
	display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
	letter-spacing: 1px;
    font-weight: 500;
	
}
.boton-estilo:before {
    content: "\F103";
	font-family: fontAwesome;
    font-size: 30px;
    vertical-align: middle;
    padding-right: 25px;
    text-decoration: none;
    line-height: 22px;
}

.boton-estilo:hover {
    background: #777;
    color: #fff;
    border: 1px solid #333;
}


/* Estilos Cuerpo UNO*/

.seccion_titulo_blanco h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
	padding-top: 50px;
    padding-bottom: 15px;
	display: inline-flex;
	width:100%;
}
.seccion_titulo_blanco h2:before {
	 content: "";
	margin: 20px 20px 20px 0px;
    top: 0;
    left: 0;
    width: 26.2%;
    height: 4px;
    position: relative;
    background-color: #fff;
    transition: all 0.3s ease-out 0s;
    display: block;
	border-radius: 5px;
	}
.seccion_titulo_blanco h2:after {
	content: "";
    margin: 20px 0px 20px 20px;
    top: 0;
    left: 0;
  	width: 26.2%;
    height: 4px;
    position: relative;
    background-color: #fff;
    transition: all 0.3s ease-out 0s;
    display: block;
	border-radius: 5px
}
.seccion_titulo_blanco p {
	margin: 0 auto;
	color:#efefef;
	text-align: center;
	font-size: 18px;
	
	}

@media (min-width: 767px){ 
.seccion_titulo_blanco p {
	width: 75%;
    	
	}
}

.sello-izquierda {
    left: 0;
    position: absolute;
	margin-top: 90px;
}

.fondo-diagonal-izquierdo {
    left: 0px;
    position: absolute;
	margin-top: 151px;
}
.fondo-diagonal-izquierdo img {
    width: 100%;
}
@media (max-width: 1199px){
.fondo-diagonal-izquierdo {
    margin-top: 183px;
}
.fondo-diagonal-derecho {
       margin-top: 169px !important;
}
}


@media (max-width: 966px){
.fondo-diagonal-izquierdo {
        display: none;
}
.fondo-diagonal-derecho {
           display: none;
}
}


.fondo-diagonal-derecho {
    right: 0px;
    position: absolute;
    margin-top: 137px;
}
.iconos{
    margin-top: -20px;
    position: absolute;
	font-style: normal;
	font-size: 65px !important;
    margin-left: -16px;
}

.icono_diseno:before {
    content: "\f0c0";
	font-family: fontAwesome;
	}
.icono_atencion:before {
    content: "\f219";
	font-family: fontAwesome;
	
	}
.icono_tendencias:before{
    content: "\f0ac";
	font-family: fontAwesome;
	margin-left: 8px;
	font-size: 78px;
	
	}

 /* CUERPO DOS   */
 .seccion_titulo_blanco_dos h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
	padding-top: 20px;
    padding-bottom: 20px;
	display: inline-flex;
	width:100%;
}
.seccion_titulo_blanco_dos h2:before {
	 content: "";
	margin: 20px 20px 20px 0px;
    top: 0;
    left: 0;
    width:  34.35%;
    height: 4px;
    position: relative;
    background-color: #fff;
    transition: all 0.3s ease-out 0s;
    display: block;
	border-radius: 5px;
	}
.seccion_titulo_blanco_dos h2:after {
	content: "";
    margin: 20px 0px 20px 20px;
    top: 0;
    left: 0;
  	width:  34.35%;
    height: 4px;
    position: relative;
    background-color: #fff;
    transition: all 0.3s ease-out 0s;
    display: block;
	border-radius: 5px
}
.seccion_titulo_blanco_dos p {
	margin: 0 auto;
	color:#efefef;
	text-align: center;
	font-size: 18px;
	
	}

@media (min-width: 767px){ 
.seccion_titulo_blanco_dos p {
	width: 75%;
    	
	}
}

/* SECCIÓN CUERPO TRES */
.altura_cuerpo-tres {
    padding-bottom: 378px;
}
.cuerpo_tres {
    background: url(../images/fondo-cuerpo-tres-min.jpg);
}

/* Estilos Cuerpo TRES*/

.seccion_titulo_negro h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: #333;
    font-size: 30px;
    font-weight: 400;
	padding-top: 50px;
    padding-bottom: 15px;
	display: inline-flex;
	width:100%;
}
.seccion_titulo_negro h2:before {
	 content: "";
	margin: 20px 20px 20px 0px;
    top: 0;
    left: 0;
    width: 26.2%;
    height: 4px;
    position: relative;
    background-color: #333;
    transition: all 0.3s ease-out 0s;
    display: block;
	border-radius: 5px;
	}
.seccion_titulo_negro h2:after {
	content: "";
    margin: 20px 0px 20px 20px;
    top: 0;
    left: 0;
  	width: 26.2%;
    height: 4px;
    position: relative;
    background-color: #333;
    transition: all 0.3s ease-out 0s;
    display: block;
	border-radius: 5px
}
.seccion_titulo_negro p {
	margin: 0 auto;
	color:#7a7a7a;
	text-align: center;
	font-size: 18px;
	
	}

@media (min-width: 767px){ 
.seccion_titulo_negro p {
	width: 75%;
    	
	}
}

.inner_about_desc {} .single_about_area_dos {
    position: relative;
    padding-bottom: 4px;
    padding-left: 80px;
}
.single_about_area_dos div {
    position: absolute;
    top: 0px;
    left: 0px;
}
.single_about_area_dos div i {
    font-size: 55px;
    color: #7a7a7a;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.single_about_area_dos h3 {
    color: #333;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 800;
}
.single_about_area_dos p {
    color: #7a7a7a;
    font-size: 16px;
    padding-bottom: 38px;
    line-height: 24px;
    letter-spacing: 1px;
	padding-top: 20px;
}
.single_about_area_dos:hover div i {
    color: #333;
}

/* TRES */

.inner_about_desc {} .single_about_area_tres {
    position: relative;
    padding-right: 80px;
    text-align: right;
    margin-top: 50px;
	padding-left: 40px;
}
.single_about_area_tres div {
    position: absolute;
    top: 0px;
    left: 0px;
}
.single_about_area_tres div i {
    font-size: 55px;
    color: #7a7a7a;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.single_about_area_tres h3 {
    color: #333;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
	padding-bottom: 20px;
	
}
.single_about_area_tres p {
    color: #7a7a7a;
    font-size: 16px;
    padding-bottom: 38px;
    line-height: 24px;
    letter-spacing: 1px;
}
.single_about_area_tres:hover div i {
    color: #333;
}

/* FIN TRES*/

.section_title_dos {
    padding-top: 90px;
    padding-bottom: 50px;
}
.section_title_dos h2 {
    text-transform: uppercase;
    text-align: right;
    position: relative;
    color: #333;
    font-size: 90px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: -4px;
}
.section_title_dos h2:after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 60px;
    height: 1px;
    background-color: #f39c12;
    left: 50%;
    margin-left: -30px;
}
.section_title_dos p {
    text-align: center;
    margin-top: 45px;
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}

@media (min-width: 767px){ 
.top_cuerpo-tres{
	    margin-top: 36px;
	}
}
@media (min-width: 1200px){ 
.linea_vertical {
    height: 615px;
    width: 2px;
    position: absolute;
    left: 50%;
    z-index: 2;
    background: #cacaca;
    margin-top: 23px;
    border-radius: 5px;
}
}

.fondo-diagonal-izquierdo-dos {
    left: 0px;
    position: absolute;
	margin-top: 600px;
}
.fondo-diagonal-izquierdo-dos img {
    width: 100%;
}

.fondo-diagonal-derecho-dos {
    right: 0px;
    position: absolute;
    margin-top: 586px;
}

@media (max-width: 1199px){
.fondo-diagonal-izquierdo-dos {
    margin-top: 720px;
}
.fondo-diagonal-derecho-dos {
       margin-top: 686px !important;
}
}
@media (max-width: 991px){
.fondo-diagonal-izquierdo-dos {
    margin-top: 1074px;
}
.fondo-diagonal-derecho-dos {
       margin-top: 1061px !important;
}
}

@media (max-width: 766px){
.fondo-diagonal-izquierdo-dos {
    display: none;
}
.fondo-diagonal-derecho-dos {
       display: none;
}
.altura_cuerpo-tres {
    padding-bottom: 50px !important;
}

}

.altura_cuerpo-tres {
    padding-bottom: 418px;
}


@media (min-width: 1200px){ 
.linea_horizomtal_izqui:after {
    content: url("images/linea-izquierda.png");
    margin: -10px -19px 0px 0px;    
    right: 0;
    position: absolute;
    transition: all 0.3s ease-out 0s;
    border-radius: 5px;
	}
.linea_horizomtal_izqui_img:after{
    content: url("images/linea-izquierda.png");
    margin: 140px -20px 0px 0px;    
    right: 0;
    position: absolute;
    transition: all 0.3s ease-out 0s;
    border-radius: 5px;
	}
.linea_horizomtal_dere_uno:before {
    content: url("images/linea-derecha.png");
    margin: 0px 0px 0px -17px;    
    left: 0;
    position: absolute;
    transition: all 0.3s ease-out 0s;
    border-radius: 5px;
	}
.linea_horizomtal_dere_dos:before {
    content: url("images/linea-derecha.png");
    margin: 0px 0px 0px -17px;    
    left: 0;
    position: absolute;
    transition: all 0.3s ease-out 0s;
    border-radius: 5px;
	}
.linea_horizomtal_dere_tres:before {
    content: url("images/linea-derecha.png");
    margin: 0px 0px 0px -17px;px;   
    left: 0;
    position: absolute;
    transition: all 0.3s ease-out 0s;
    border-radius: 5px;
	}
}	
/* Footer  */
/* fondo segado dos blanco */

.fondo_segado_dos{
    margin: -45px 0 0;
    padding: 0px;
    background-color: #fff;;
    display: flex;
}

.fondo_segado_dos:before {
    content: '';
    top: -120px;
    left: 0;
    width: 100%;
    height: 139px;
    z-index: 2 !important;
    position: relative;
	background:url('images/fondo-sesgado-dos-min.png') no-repeat bottom center;
    -moz-background-size:100% 139px;
    background-size:100% 139px;
	
}

.section_title_footer h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: #7a7a7a;
    font-size: 36px;
    padding-top: 100px;
    font-weight: 900;
}
@media (max-width: 650px){
.section_title_footer h2 {
    
    font-size: 26px;   
}
}

@media (max-width: 400px){
.section_title_footer h2 {
    
    font-size: 18px;   
}
}
.section_title_formulario {
    padding-top: 90px;
    padding-bottom: 50px;
	text-align: center;
}
.section_title_formulario h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    background: #333;
	margin-bottom: 40px;
	display: inline-block;
}
.section_title_formulario p {
    margin: 0 auto;
    color: #7a7a7a;
    text-align: center;
    font-size: 18px;
	}
	
	
