---
name: contacto
url: /contacto
controller: contactoCtrl
---
<div ng-include="'/templates/navBar.html'"></div>
<div ng-include="'/templates/navBarMovil.html'"></div>
<div class="contacto-top">
    <div class="overlay-left">
        
    </div>
    <div class="titulo-left">
      <div class="contacto-top-texto-left">
            <p>
                Ponemos el corte
            </p>
        </div>
    </div>
    <div class="overlay-right">
        
    </div>
    <div class="titulo-right">
      <div class="contacto-top-texto-right">
            <p>
                Tú la actitud
            </p>
        </div>
    </div>
    <div class="contacto-top-content">
        
        <div class="contacto-top-circle"></div>
        
    </div>
</div>

<div class="contacto-contactanos">
  <div id="contact-container-BounceIn">
    <div class="contacto-contactanos-left">
        <h1>
            ¡Contáctanos!
        </h1>
    </div>
    <div class="contacto-contactanos-right" >
        <div class="contactanos-titulo">
            <h2>
                ¡Redes sociales!
            </h2>
        </div>
        <div class="contactanos-texto">
            <p>
                Queremos conservar la fidelidad de quienes confían en nosotros, estableciendo con ellos relaciones personales y comerciales para llegar así a ser líderes en este campo.
            </p>
        </div>
        <div class="contactanos-icons">
            <ul>
             
 
                <li>
                    <a href="https://www.facebook.com/wallsbarbershop/" title="facebook.com/wallsbarbershop" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                
                <li>
                    <a href="https://twitter.com/wallsbarbershop" title="twitter.com/wallsbarbershop" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                               
                 <li>
                    <a href="https://www.instagram.com/wallsbarbershop/" title="instagram.com/wallsbarbershop" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                
                <li>
                    <a href="https://www.youtube.com/channel/UCqx1xHpwRKGyZR1nXOTznvg" title="Canal Youtube de Wall´s Barbershop" target="_blank">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </li>
              </div>
        </div>
    </div>
</div>

<div class="franquicias-seccion3">
  <div class="seccion3-overlay"></div>
  <div class="seccion3-content" id="titulo-fadeInLeftBig-2s">
    <div>
      <h3> ¡ABRE TU FRANQUICIA! </h3>
    </div>
    <div class="seccion3-parrafo">
      <p>
        Somos una empresa joven con gran espíritu de emprendimiento, con el propósito firme de lograr obtener la preferencia de nuestros clientes, por medio de la innovación y concepto modernista de nuestras franquicias.
      </p>
    </div>
  </div>
</div>


<div class="franquicias-info">
  <div class="franquicias-info-container">
    <div class="franquicias-info-form contacto-info">
      <div class="franquicias-info-text" id="contacto-form-bounceIn1s">
        <p class="franquicias-info-titulo">¡MÁS INFORMACIÓN!</p>
        <p>
          Si está interesado, le podemos contactar a través de uno de nuestros agentes autorizados, a continuación rellene el siguiente formulario y en breve nos comunicaremos con usted.
        </p>
      </div>

      <div class="footer-servicios-div">
    <div class="titulos-div-footer-sucursales" id="contact-container2-bounceIn">
      <div>
        <p>
          
          LIC. AARON ALVARADO <br>
          TEL: 044 9981 45 96 50 <br>
          FRANQUICIAS@YOSOYWALLS.COM 
        </p>
      </div>
      <div class="leerMasFooter-div">
        <div class="leerMasFooter" ng-click="go('franquicias')">
          <h6 class="whiteFont Lato-Regular">
            Solicitar info.
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="home-footer-brand">
      <div ng-include="'/templates/socialIconsMovil.html'" class="socialIconsDivMovil"></div>
    <div ng-include="'/templates/socialIcons.html'" class="socialIconsDiv"></div>
    <div class="footer-text">
      <h6 class="text-center whiteFont">©2015 All Rights Reserved  Diseño <a href="http://chicleypegacreativo.com/" target="_blank" style="color: inherit;"><strong>Chicle y Pega Estudio Creativo</strong></a></h6>
    </div>
  </div>


    </div>
  </div>
</div>