---
name: franquiciasn
url: /franquiciasn
controller: franquiciasCtrl
---

<div ng-include="'/templates/navBar.html'"></div>
<div ng-include="'/templates/navBarMovil.html'"></div>
<zf-notification-set id="main-notifications" position="top-left"></zf-notification-set>

<div class="franquicias-top">
    <div class="overlay"></div>

    <div class="franquicias-top-content">
        <div class="franquicias-top-left-title">
            <p>
                MAS QUE UN CORTE
            </p>
        </div>
            
        <div class="franquicias-top-content-center">
            <div>
                <img src="/assets/img/sello-central-top-min.png" id="bounceIn">
            </div>
            <div class="franquicias-top-parrafo">
                <h2>
                    Una de las cadenas de Barberías 
                    <br>
                    más grandes de México
                </h2>
            </div>
            <div class="franquicias-top-boton">
                <a ng-click="scroll()" id="bounceIn-button">
                    ¡SOLICITAR INFORMACIÓN!
                </a>
            </div>
        </div>
            
        <div class="franquicias-top-right-title">
            <p>
                CREAMOS UN ESTILO
            </p>
            <div class="franquicias-top-parrafo">
                <h2>
                    Una de las cadenas de Barberías 
                    <br>
                    más grandes de México
                </h2>
            </div>
            <div class="franquicias-top-boton">
                <a ng-click="scroll()">
                    ¡SOLICITAR INFORMACIÓN!
                </a>
            </div>
        </div>
    </div>
</div> 

<div class="franquicias-nosotros">
  <div class="fondo_segado_uno">
    </div>
  <div class="content">
    <div class="triangulos">
      <img class="triangulo-derecha" src="/assets/img/cuerpo-fondo-diagonal-derecha-min.png">
      <img class="triangulo-izquierda" src="/assets/img/cuerpo-fondo-diagonal-izquierdo-min.png">
  </div>     
  <div class="franquicias-nosotros-titulos">
    <div>
      <h1>
        ¿QUIERES SER PARTE DE NOSOTROS?
      </h1> 
    </div>
    <div>
      <p>
        Wall´s Barbershop es una gran cadena de Barbería - Peluquería, un concepto totalmente nuevo y revolucionario para proveer a todos los hombres de México un estilo propio a través servicios de barbería adaptados a las necesidades de cada uno.
      </p>
    </div>
  </div>
  <div class="titulo-dos">
    <img src="/assets/img/sello-izquierda-min.png" class="sello" id="fadeInLeft-logo">
    <img src="/assets/img/TEXTO-FRANQUICIAS-min.png" class="titulo" id="fadeIn-text">
  </div>
  <div class="caracteristicas">
    <div id="single1">
      <div class="iconos-div">
        <i class="iconos icono_diseno"></i>
      </div>
      <div class="textos-caracteristicas">
        <div class="titulos-caracteristicas">
          <h3 >DISEÑO</h3>
        </div>
        <div class="parrafos-caracteristicas">
          <p>
            Nuestros espacios son modernos acorde a las exigencias de hoy en día, exclusivo para quienes buscan una experiencia única en servicio de barbería.
          </p>
        </div>
      </div> 
    </div>

    <div id="single2">
      <div class="iconos-div">
        <i class="iconos icono_atencion"></i>
      </div>
      <div class="textos-caracteristicas">
        <div class="titulos-caracteristicas">
          <h3 >ATENCIÓN</h3>
        </div>
        <div class="parrafos-caracteristicas">
          <p>
            Adaptamos ofertas únicas para cada tipo de edad, de tal modo, que el cliente se sienta importante, porque claro, así debe ser en todo momento.
          </p>
        </div>
      </div> 
    </div>

    <div id="single3">
      <div class="iconos-div">
        <i class="iconos icono_tendencias"></i>
      </div>
      <div class="textos-caracteristicas">
        <div class="titulos-caracteristicas">
          <h3 >TENDENCIAS</h3>
        </div>
        <div class="parrafos-caracteristicas">
          <p>
            Apostamos por la actualidad en estilos y tendencias, con técnicas e instrumentos avanzados, buscando superar las expectativas y satisfacción de los clientes.
          </p>
        </div>
      </div> 
    </div>
  </div>
</div>

<div class="franquicias-seccion3">
  <div class="seccion3-overlay"></div>
  <div class="seccion3-content" id="fadeInLeftBig-title">
    <div>
      <h3> ¡ABRE TU FRANQUICIA! </h3>
    </div>
    <div class="seccion3-parrafo">
      <p>
        Somos una empresa joven con gran espíritu de emprendimiento, con el propósito firme de lograr obtener la preferencia de nuestros clientes, por medio de la innovación y concepto modernista de nuestras franquicias.
      </p>
    </div>
  </div>
</div>

<div class="seccion-datos">
  <div>
    <div class="datos-izuierda">
      <div class="imagen_texto linea_horizomtal_izqui_img" id="fadeInLeft-text">
        <div>
          <img src="assets/img/TEXTO-DATOS-min.png" alt="">
        </div>
      </div>
      <div class="datos-parrafo2">
        <h3 class="linea_horizomtal_izqui RobotoCondensed-Bold">
          ANÁLISIS DE MERCADO
        </h3>
        <p>
          La mayoría de las personas que acude a Wall’s Barbershop son hombres de entre 14 y 32 años o aún mayores desde 45 años hasta 65, estas serían nuestros potenciales clientes, para esto debemos tener una oferta para cada tipo de edad, esto es segmentar el mercado. Con un nivel económico medio y medio alto. Los más jóvenes también son potenciales consumidores.
        </p>
      </div>
    </div>
    <div class="datos-derecha" id="single-area2">
      <div >
        <p class="datos-parrafo3 linea_horizomtal_dere_uno">
          Wall's Barbershop, fundada en el 2010, bajo en concepto de Barbería - Peluquería, que durante casi siete años hemos atendidos a todos nuestros clientes de territorio nacional, en nuestras ya 22 sucursales ya establecidas en la república y por supuesto, seguimos creciendo. Nuestro concepto se complementa en el perfecto servicio de calidad que ofrecemos a cada uno de nuestros clientes y productos del más alto nivel, para el cuidado del cabello y la barba.
        </p>
      </div>
      <div>
        <p class="datos-parrafo3 linea_horizomtal_dere_dos">
          Abrir una franquicia Wall’s Barbershop es mucho más que iniciar un negocio. Con apenas casi 7 años y 22 sucursales, significa formar parte de la primera cadena de Barbería - Peluquería más importante de México.
        </p>
      </div>
      <div>
        <p class="datos-parrafo3 linea_horizomtal_dere_tres">
          Comprometidos con el éxito de nuestros franquiciatario, desarrollamos un modelo de gestión personalizado para asegurar la rentabilidad y la calidad de cada uno de nuestras sucursales; además de ofrecer ventajas exclusivas como condiciones especiales de financiación, servicios de formación continua y acuerdos de distribución con marcas Premium. Ahora es su oportunidad de formar parte del grupo Wall’s Barbershop.
        </p>
      </div>
    </div>
    <div class="datos-triangulos">
      <img class="datos-triangulo-derecha" src="/assets/img/cuerpo-3-fondo-diagonal-derecha-min.png">
      <img class="datos-triangulo-izquierda" src="/assets/img/cuerpo-3-fondo-diagonal-izquierdo-min.png">
    </div>
  </div>
</div>

<div class="franquicias-info">
  <div class="fondo_sesgado_dos"></div>
  <div class="franquicias-info-container">
    <div class="franquicias-info-form">
      <div class="franquicias-info-text" id="info-bounce">
        <p class="franquicias-info-titulo">¡MÁS INFORMACIÓN!</p>
        <p>
          Si está interesado, le podemos contactar a través de uno de nuestros agentes autorizados, a continuación rellene el siguiente formulario y en breve nos comunicaremos con usted.
        </p>
      </div>
      <div class="franquicias-info-form-fields">
        <form ng-submit="send()">
          <div>
            <div class="franquicias-formulario-col">
              <input type="text" class="form-control" id="name" placeholder="Nombre" ng-model="message.name" required>
              <input type="text" class="form-control" id="email" placeholder="Empresa" ng-model="message.empresa" required>
              <input type="text" class="form-control" id="name" placeholder="Dirección" ng-model="message.address" required="">
              <input required title="Debe tener al menos 10 digitos" class="form-control" id="subject" placeholder="Teléfono" ng-model="message.phone" required
              pattern="^(0|[1-9][0-9]*)"  maxlength="10" minlength="10"
              >
              <input type="email" class="form-control" id="email" placeholder="Email" ng-model="message.email" required>
              <select required="" name="estado" id="name" class="form-control" ng-model="message.state" required>
                <option value="" disabled="" selected="">¿En que estado te gustaría tener la franquicia?</option>
                <option value="Aguascalientes">Aguascalientes</option>
                <option value="Baja California">Baja California</option>
                <option value="Baja California Sur">Baja California Sur</option>
                <option value="Campeche">Campeche</option>
                <option value="CDMX">CDMX</option>
                <option value="Chiapas">Chiapas</option>
                <option value="Chihuahua">Chihuahua</option>
                <option value="Coahuila">Coahuila</option>
                <option value="Colima">Colima</option>
                <option value="Durango">Durango</option>
                <option value="Estado de México">Estado de México</option>
                <option value="Guanajuato">Guanajuato</option>
                <option value="Guerrero">Guerrero</option>
                <option value="Hidalgo">Hidalgo</option>
                <option value="Jalisco">Jalisco</option>
                <option value="Michoacán">Michoacán</option>
                <option value="Morelos">Morelos</option>
                <option value="Nayarit">Nayarit</option>
                <option value="Nuevo León">Nuevo León</option>
                <option value="Oaxaca">Oaxaca</option>
                <option value="Puebla">Puebla</option>
                <option value="Querétaro">Querétaro</option>
                <option value="Quintana Roo">Quintana Roo</option>
                <option value="San Luis Potosí">San Luis Potosí</option>
                <option value="Sinaloa">Sinaloa</option>
                <option value="Sonora">Sonora</option>
                <option value="Tabasco">Tabasco</option>
                <option value="Tamaulipas">Tamaulipas</option>
                <option value="Tlaxcala">Tlaxcala</option>
                <option value="Veracruz">Veracruz</option>
                <option value="Yucatán">Yucatán</option>
                <option value="Zacatecas">Zacatecas</option>
              </select>
            </div>
            <div class="franquicias-formulario-col-2">
                <textarea class="form-control" id="message" rows="25" cols="10" placeholder="  ¿Por que te gustaría adquirir una franquicia Wall's Barbershop?" ng-model="message.why" required></textarea>
                <button type="submit" class="btn btn-default submit-btn form_submit" > ENVIAR MENSAJE </button>
            </div>
          </div>
        </form>
      </div>

      <div class="footer-servicios-div fondo-degradado">
    <div class="titulos-div-footer-sucursales">
      <div>
        <p>
          
          LIC. AARON ALVARADO <br>
          TEL: 044 9981 45 96 50 <br>
          FRANQUICIAS@YOSOYWALLS.COM 
        </p>
      </div>
      <!--div class="leerMasFooter-div">
        <div class="leerMasFooter" ng-click="go('franquicias')">
          <h6 class="whiteFont Lato-Regular">
            Solicitar info.
          </h6>
        </div>
      </div-->
    </div>
  </div>
  <div class="home-footer-brand">
      <div ng-include="'/templates/socialIconsMovil.html'" class="socialIconsDivMovil"></div>
    <div ng-include="'/templates/socialIcons.html'" class="socialIconsDiv"></div>
    <div class="footer-text">
      <h6 class="text-center whiteFont">©2015 All Rights Reserved  Diseño <a href="http://chicleypegacreativo.com/" target="_blank" style="color: inherit;"><strong>Chicle y Pega Estudio Creativo</strong></a></h6>
    </div>
  </div>


    </div>
  </div>
</div>