
<div ng-include="'/templates/navBar.html'"></div>
<div ng-include="'/templates/navBarMovil.html'"></div>
 <!-- =========================
     START 
============================== -->
    <section class="header parallax home-parallax page" id="HOME">
        <h2></h2>
        <div class="section_overlay">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                   
                    <!-- CAMBIAR AL MENÚ PARA WALL´S - CAMBIAR AL MENÚ PARA WALL´S -CAMBIAR AL MENÚ PARA WALL´S-
                    <div ng-include="'/templates/navBar.html'"></div>
					<div ng-include="'/templates/icons.html'" class="grid-block iconsDiv"></div> -->
                    
                </div>
                <!-- /.container- -->
            </nav>

            <div class="container home-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo text-center">
                                <!-- LOGO 
                            <img width="125" height="55" src="/templates/images/logo.png" alt="">-->
                        </div>
                    </div>
                </div>
                <div class="row">
                      <div class="feature_inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 right_no_padding texto_top_derecha" data-wow-duration="2s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">
                            <!-- ICON -->
                           

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3 class="RobotoCondensed-Bold">Mas que un corte</h3>
                            
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        
                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-8">
                        <div class="sello_imagen">
                            <!-- FEATURE IMAGE -->
                            <img  data-wow-duration="2s" src="/templates/images/sello-central-top-min.png" id = "bounceIn" alt="" ng-click="bounce()">
                        </div>
                    </div>
                    <div class="col-md-2 left_no_padding wow fadeInRight texto_top_izquierda" data-wow-duration="2s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3 class="RobotoCondensed-Bold">creamos un estilo</h3>
                            
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        
                        <!-- END SINGLE FEATURE -->
                    </div>
                </div>
                  <div>
                            <!-- ICON -->
                            

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <p class="pararafo_top">Nos encontramos en constante<br>crecimiento!</p>
                            
                        </div>
                        <div class="boton_top_centrado">
                        <a class="boton-estilo" data-wow-duration="3s" ng-click="scroll()" role="button" id="bounceIn-button">¡Soliciar información!</a>
                         </div>
            </div>
        </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END HEADER SECTION -->




 <!-- =========================
     SECCIÓN CUERPO UNO
============================== -->
 <!-- Fondo segado uno negro  -->
<section class="fondo_segado_uno">
</section>

    <section class="page cuerpo_uno">
        <div class="container">
        
        <div class="fondo-diagonal-derecho wow fadeInLeft" data-wow-duration="5s" data-wow-delay=".5s">
                        <!-- FONDO DIAGONAL DERECHO -->
                            <img src="/templates/images/cuerpo-fondo-diagonal-derecha-min.png" alt="">
                        </div>
                        
        <div class="fondo-diagonal-izquierdo wow fadeInLeft" data-wow-duration="4s" data-wow-delay=".3s">
                        <!-- FONDO DIAGONAL IZQUIERDO -->
                            <img src="templates/images/cuerpo-fondo-diagonal-izquierdo-min.png" alt="">
                        </div>
                        
                        
                        
         <div class="sello-izquierda" data-wow-duration="1s" data-wow-delay=".5s" id="fadeInLeft-logo" ng-click="hola()">
                        <!-- SELLO LATERAL IZQUIERDO -->
                            <img src="/templates/images/sello-izquierda-min.png" alt="">
                        </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- ABOUT US SECTION TITLE-->
                    <div class="seccion_titulo_blanco">
                        <h2 class="RobotoCondensed-Bold">¿Quieres ser parte de nosotros?</h2>
                        <p>Wall´s Barbershop es una gran cadena de Barbería - Peluquería, un concepto totalmente nuevo y revolucionario para proveer a todos los hombres de México un estilo propio a través servicios de barbería adaptados a las necesidades de cada uno.</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="inner_about_area">
            <div class="container">
                           <div class="row">
                    <div class="col-md-6">
                        <div class="imagen_texto" data-wow-duration="1s" data-wow-delay=".5s" id="fadeIn-text">
                        <!-- PHONE -->
                            <img src="/templates/images/TEXTO-FRANQUICIAS-min.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- TITLE -->
                       
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area" data-wow-duration=".5s" data-wow-delay="1s"
                            id="single1">
                                <!-- ICON -->
                                <div><i class="iconos icono_diseno"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3 class="RobotoCondensed-Bold">Diseño</h3>
                                <p class="Lato-Regular">Nuestros espacios son modernos acorde a las exigencias de hoy en día, exclusivo para quienes buscan una experiencia única en servicio de barbería.</p>
                            </div>
                            <!-- END SINGLE DESC -->


                            <!-- SINGLE DESC -->
                            <div class="single_about_area" data-wow-duration=".5s" data-wow-delay="1.5s"
                            id="single2">
                                <!-- ICON -->
                                <div><i class="iconos icono_atencion"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3 class="RobotoCondensed-Bold">Atención</h3>
                                <p class="Lato-Regular">Adaptamos ofertas únicas para cada tipo de edad, de tal modo, que el cliente se sienta importante, porque claro, así debe ser en todo momento.</p>
                            </div>
                            <!-- END SINGLE DESC -->


                            <!-- SINGLE DESC -->
                            <div class="single_about_area"
                            id="single3" data-wow-duration=".5s" data-wow-delay="2s">
                                <!-- ICON -->
                                <div><i class="iconos icono_tendencias"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3 class="RobotoCondensed-Bold">Tendencias</h3>
                                <p class="Lato-Regular">Apostamos por la actualidad en estilos y tendencias, con técnicas e instrumentos avanzados, buscando superar las expectativas y satisfacción de los clientes.</p>
                            </div>
                            <!-- END SINGLE DESC -->

                        </div>
                    </div>
                </div>
            </div>
        </div>

     </section>
    <!-- Fin cuerpo UNO -->


 <!-- =========================
     SECCIÓN ¡ABRE TU FRANQUICIA!
============================== -->

    <section class="seccion_abre_franquicia parallax">
        <div class="section_overlay">
            <div class="container">
                <div class="row">
                  
                    <div class="col-md-10 col-md-offset-1">
                    <!-- FEATURES SECTION TITLE -->
                    <div class="seccion_titulo_blanco_dos" data-wow-duration="2s"
                    id="fadeInLeftBig-title">
                   
                        <h2 class="RobotoCondensed-Bold">¡ABRE TU FRANQUICIA!</h2>
                        <p>Somos una empresa joven con gran espíritu de emprendimiento, con el propósito firme de lograr obtener la preferencia de nuestros clientes, por medio de la innovación y concepto modernista de nuestras franquicias.</p>
                    </div>
                    <!-- END FEATURES SECTION TITLE -->
                </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- FIN ABRE TU FRANQUICIA  -->


 <!-- =========================
     SECCIÓN CUERPO TRES
============================== -->

</section>

    <section class="page cuerpo_tres altura_cuerpo-tres">
        <div class="container">
        
        <div class="fondo-diagonal-derecho-dos wow fadeInLeft" data-wow-duration="5s" data-wow-delay=".3s">
                        <!-- FONDO DIAGONAL DERECHO -->
                            <img src="/templates/images/cuerpo-3-fondo-diagonal-derecha-min.png" alt="">
                        </div>
                        
        <div class="fondo-diagonal-izquierdo-dos wow fadeInLeft" data-wow-duration="4s" data-wow-delay=".3s">
                        <!-- FONDO DIAGONAL IZQUIERDO -->
                            <img src="/templates/images/cuerpo-3-fondo-diagonal-izquierdo-min.png" alt="">
                        </div>
                       
            <div class="row"></div>
        </div>
        <div class="inner_about_area">
            <div class="container">
                           <div class="row">
                           <div class="linea_vertical fadeInUp wow data-wow-duration="1s" data-wow-delay=".5s""></div>
                    <div class="col-md-6">
                        <div class="imagen_texto linea_horizomtal_izqui_img" data-wow-duration="1s" data-wow-delay=".5s"
                        id="fadeInLeft-text">
                        <!-- PHONE -->
                            <img src="/templates/images/TEXTO-DATOS-min.png" alt="">
                        </div>
                        
                        <div class="single_about_area_tres">
                        <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3 class="linea_horizomtal_izqui RobotoCondensed-Bold">ANÁLISIS DE MERCADO</h3>
                            <p>La mayoría de las personas que acude a Wall’s Barbershop son hombres de entre 14 y 32 años o aún mayores desde 45 años hasta 65, estas serían nuestros potenciales clientes, para esto debemos tener una oferta para cada tipo de edad, esto es segmentar el mercado. Con un nivel económico medio y medio alto. Los más jóvenes también son potenciales consumidores.</p>
                        </div>
                        
                    </div>
                    <div class="col-md-6  wow fadeInRight top_cuerpo-tres" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- TITLE -->
                       
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area_dos" data-wow-duration=".5s" data-wow-delay="1s"
                            id="single-area2">
                             
                                
                                <!-- HEADING DESCRIPTION -->
                              
                                <p class="linea_horizomtal_dere_uno">Wall's Barbershop, fundada en el 2010, bajo en concepto de Barbería - Peluquería, que durante casi siete años hemos atendidos a todos nuestros clientes de territorio nacional, en nuestras ya 22 sucursales ya establecidas en la república y  por supuesto, seguimos creciendo. Nuestro concepto se complementa en el perfecto servicio de calidad que ofrecemos a cada uno de nuestros clientes y productos del más alto nivel, para el cuidado del cabello y la barba.</p>
<p class="linea_horizomtal_dere_dos">Abrir una franquicia Wall’s Barbershop es mucho más que iniciar un negocio. Con apenas casi 7 años y 22  sucursales, significa formar parte de la primera cadena de Barbería - Peluquería más importante de México.</p>

<p class="linea_horizomtal_dere_tres">Comprometidos con el éxito de nuestros franquiciatario, desarrollamos un modelo de gestión personalizado para asegurar la rentabilidad y la calidad de cada uno de nuestras sucursales; además de ofrecer ventajas exclusivas como condiciones especiales de financiación, servicios de formación continua y acuerdos de distribución con marcas Premium. Ahora es su oportunidad de formar parte del grupo Wall’s Barbershop.</p>
                            </div>
                            <!-- END SINGLE DESC -->                           

                        </div>
                    </div>
                </div>
            </div>
        </div>

     </section>
    <!-- Fin cuerpo TRES -->


<!-- =========================
     START CONTCT FORM AREA
============================== -->
<section class="fondo_segado_dos"></section>
    <section class="contact page" id="CONTACT">
        <div class="section_overlay">
            <div class="container">
                <div class="col-md-10 col-md-offset-1"
                id="info-bounce">
                    <!-- Start Contact Section Title-->
                    <div class="section_title_formulario">
                        <h2 class="RobotoCondensed-Bold">¡Más información!</h2>
                        <p>Si está interesado, le podemos contactar a través de uno de nuestros agentes autorizados, a continuación rellene el siguiente formulario y en breve nos comunicaremos con usted.</p>
                    </div>
                </div>
            </div>

            <div class="contact_form wow bounceIn">
                <div class="container">

                <!-- START ERROR AND SUCCESS MESSAGE -->
                    <div class="form_error text-center">
                        <div class="name_error hide error">Por favor, escriba su nombre</div>
                        <div class="email_error hide error">Por favor introduzca su correo electrónico</div>
                        <div class="email_val_error hide error">Por favor, introduce una dirección de correo electrónico válida </div>
                        <div class="message_error hide error">Por favor ingrese su mensaje </div>
                    </div>
                    <div class="Sucess"></div>
                <!-- END ERROR AND SUCCESS MESSAGE -->

                <!-- CONTACT FORM starts here, Go to contact.php and add your email ID, thats it.-->    
                    <form ng-submit="send()">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="name" placeholder="Nombre" ng-model="message.name" required>
                                <input type="email" class="form-control" id="email" placeholder="Empresa" ng-model="message.empresa" required>
                                <input type="text" class="form-control" id="name" placeholder="Dirección" ng-model="message.address">
                                 <input type="text" class="form-control" id="subject" placeholder="Teléfono" ng-model="message.phone" required>
                                <input type="email" class="form-control" id="email" placeholder="Email" ng-model="message.email" required>
                                <select required="" name="estado" id="name" class="form-control" ng-model="message.state" required>
                                <option value="" disabled="" selected="">¿En que Estado te gustaría tener la franquicia?</option>
                                <option value="Aguascalientes">Aguascalientes</option>
                                <option value="Baja California">Baja California</option>
                                <option value="Baja California Sur">Baja California Sur</option>
                                <option value="Campeche">Campeche</option>
                                <option value="Chiapas">Chiapas</option>
                                <option value="Chihuahua">Chihuahua</option>
                                <option value="Coahuila">Coahuila</option>
                                <option value="Colima">Colima</option>
                                <option value="Distrito Federal">Distrito Federal</option>
                                <option value="Durango">Durango</option>
                                <option value="Estado de México">Estado de México</option>
                                <option value="Guanajuato">Guanajuato</option>
                                <option value="Guerrero">Guerrero</option>
                                <option value="Hidalgo">Hidalgo</option>
                                <option value="Jalisco">Jalisco</option>
                                <option value="Michoacán">Michoacán</option>
                                <option value="Morelos">Morelos</option>
                                <option value="Nayarit">Nayarit</option>
                                <option value="Nuevo León">Nuevo León</option>
                                <option value="Oaxaca">Oaxaca</option>
                                <option value="Puebla">Puebla</option>
                                <option value="Querétaro">Querétaro</option>
                                <option value="Quintana Roo">Quintana Roo</option>
                                <option value="San Luis Potosí">San Luis Potosí</option>
                                <option value="Sinaloa">Sinaloa</option>
                                <option value="Sonora">Sonora</option>
                                <option value="Tabasco">Tabasco</option>
                                <option value="Tamaulipas">Tamaulipas</option>
                                <option value="Tlaxcala">Tlaxcala</option>
                                <option value="Veracruz">Veracruz</option>
                                <option value="Yucatán">Yucatán</option>
                                <option value="Zacatecas">Zacatecas</option>
                            	</select>
                            </div>


                            <div class="col-md-6">
                                <textarea class="form-control" id="message" rows="25" cols="10" placeholder="  ¿Por que te gustaría adquirir una franquicia Wall's Barbershop?" ng-model="message.why"></textarea>
                                <button type="submit" class="btn btn-default submit-btn form_submit"> ENVIAR MENSAJE </button>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM --> 
                    <div class="section_title_footer">
                        <h2 class="RobotoCondensed-Bold">Lic. Aaron Alvarado <br>
                            TEL: 044 9981 45 96 50<br>
                            franquicias@yosoywalls.com</h2>

                                            </div>
                </div>
            </div>   

        </div>

    </section>
    <!-- END CONTACT -->


<!-- =========================
     FOOTER 
============================== -->

    <section class="copyright">

        <h2></h2>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   <div class="footer-servicios-brand" style="bottom: -30px; left: -10px;
                        width: 110%;">
          <div ng-include="'/templates/socialIconsMovil.html'" class="socialIconsDivMovil"></div>
          <div ng-include="'/templates/socialIcons.html'" class="grid-block"></div>

            <h6 class="text-center whiteFont footer-text">©2015 All Rights Reserved  Diseño <a href="http://chicleypegacreativo.com/" target="_blank" style="color: inherit;"><strong>Chicle y Pega Estudio Creativo</strong></a></h6>
        </div>
                     
                </div>                
            </div>
        </div-->
    </section>
    <!-- END FOOTER -->


<!-- =========================
     SCRIPTS 
============================== -->


    <!-- =========================
     SCRIPTS 
============================== -->
<!--
    <script src="/templates/js/jquery.min.js"></script>
    <script src="/templates/js/bootstrap.min.js"></script>
    
    <script src="/templates/js/jquery.fitvids.js"></script>
    <script src="/templates/js/smoothscroll.js"></script>
    <script src="/templates/js/jquery.parallax-1.1.3.js"></script>
  
   
    <script src="/templates/js/wow.min.js"></script>
    <script src="/templates/js/waypoints.min.js"></script>
    <script src="/templates/js/jquery.counterup.min.js"></script>
    <script src="/templates/js/script.js"></script>
-->

