---
name: galeria
url: /galeria
controller: galeriaCtrl
---
<div zf-modal="" id="basicModal" >
<div style="width: 900px; height: 900px;">
	<div style="position: absolute; width: 80%; left: 0; right: 0; margin: auto; top:10px; bottom: 0;}">
		<div style="position: absolute; margin: auto; top: 0; bottom: 0;  height: auto; display: inline-table;">
		<i class="fa fa-times-circle fa-2x whiteFont" aria-hidden="true" style="position: absolute; top: 0px; right: 0px;" zf-close=""></i>
		<!--a zf-close="" class="close-button" >×</a-->
		<img src="{{actualImage}}" >
		</div>
		<i class="fa fa-arrow-circle-left fa-2x whiteFont left-gallery-arrow" aria-hidden="true" ng-click="prevImg()" ng-show="leftArrow"></i>
		<i class="fa fa-arrow-circle-right fa-2x whiteFont right-gallery-arrow" aria-hidden="true"  ng-click="nextImg()" ng-show="rightArrow"></i>
	</div>
</div>

	
</div>

<div ng-include="'/templates/navBar.html'"></div>
<div ng-include="'/templates/navBarMovil.html'"></div>


<div class="galeria-fondo1" ng-show="actualBody == 1">
	<img src="/assets/img/sello-galeria-min.png" class="sello-galeria">
</div>

<!--div class="galeria-fondo2" ng-show="actualBody == 2">
	<div class="galeria-fondo2-titulos">
		<h5 class="whiteFont galeria-fondo2-titulos-text Lato-BoldItalic">
			SOMOS UNA EMPRESA JOVEN CON GRAN ESPÍRITU DE SUPERACIÓN 
			BUSCAMOS LOGRAR OBTENER LA PREFERENCIA DE NUESTROS CLIENTES.
		</h5>
	</div>
</div-->


<div class="galeria-cuerpo-absolute">
	<div class="galeria-diagonal diagonal-izquierda"></div>
	<div class="galeria-diagonal diagonal-derecha"></div>
	<div class="galeria-cuerpo1" id="cuerpo1">
		<div class="galeria-cuerpo1-titulos">
			<p class="galeria-cuerpo1-titulos-text RobotoCondensed-Bold">
				MAS
				<br class="">
				QUE
				<br class="titulos-br">
				UN
				<br class="titulos-br">
				CORTE
			</p>
		</div><!--
		--><div class="gallery ">
			<div>
				<h3>Galería</h3>
			</div>
			<div class="gallery-col">
				<div zf-open="basicModal" ng-repeat="img in gallery.col1" ng-click="openModal(img)" class="galleryBox">
					<div class="galeria-overImg"></div>
					<img src="{{img}}" class="galleryItem">

				</div>
			</div><!--
			--><div class="gallery-col">
				<div zf-open="basicModal" ng-repeat="img in gallery.col2" ng-click="openModal(img)" class="galleryBox">
					<div class="galeria-overImg"></div>
					<img src="{{img}}" class="galleryItem">
				</div>
			</div><!--
			--><div class="gallery-col">
				<div zf-open="basicModal" ng-repeat="img in gallery.col3" ng-click="openModal(img)" class="galleryBox">
					<div class="galeria-overImg"></div>
					<img src="{{img}}" class="galleryItem">
				</div>
			</div>
		</div><!--
		--><div class="galeria-cuerpo1-titulos">
			<p class="galeria-cuerpo1-titulos-text RobotoCondensed-Bold">
				MAS
				<br class="">
				QUE
				<br class="titulos-br">
				UN
				<br class="titulos-br">
				CORTE
			</p>
		</div>
		<div class="galeria-cuerpo2-diagonal"></div>
	</div>
	

	<div class="galeria-fondo3">
		<div class="galeria-fondo3-titulos1">	
			<h3 class="whiteFont RobotoCondensed-Bold">
				VIDEOS
			</h3>
		</div>
		<div class="galeria-videos-grid">
			
			<div class="galeria-col-2">
				<div class="galeria-video">
					<iframe ng-src="{{actualVideo}}" frameborder="0" allowfullscreen>
					</iframe>
				</div>	
			</div>
			<div class="galeria-videos-col">
				<div>
					<img src="http://img.youtube.com/vi/GCSO2HcQBDs/hqdefault.jpg"
					ng-click = "changeVideo('GCSO2HcQBDs')" class="galeria-video-item thumbnail-1">
				</div> <!--
				-->
				<div>
					<img src="http://img.youtube.com/vi/UqTm41bPAIc/hqdefault.jpg"
					ng-click = "changeVideo('UqTm41bPAIc')" class="galeria-video-item thumbnail-2">
				</div><!--
				-->
				<div>
					<img src="http://img.youtube.com/vi/yGQljG8kJvo/hqdefault.jpg" class="galeria-video-item thumbnail-3"
					ng-click = "changeVideo('yGQljG8kJvo')">
				</div><!--
				-->
			</div>
			<div class="galeria-fondo3-titulos2">
				<h5 class="whiteFont font-13px Lato-Italic">
					Somos apasionados en lo que hacemos, buscamos crear experiencias que satisfagan las necesidades de nuestros clientes, ofreciendo nuestro mejor servicio, la preparación para un afeitado prefecto. Trabajamos para quienes tienen mucha personalidad, eso nos motiva aún más a hacerlo bien. Queremos conservar la fidelidad de quienes confían en nosotros, estableciendo con ellos relaciones personales y comerciales para llegar así a ser líderes en este campo
				</h5>
				<h6 class="whiteFont font-13px Lato-BoldItalic"><strong>Pase y tome asiento!!!</strong></h6>
			</div>
		</div>
		
	</div>
	<!--div class="galeria-cuerpo2" id="cuerpo2">
		<div class="galeria-cuerpo2-diagonal"></div>
		<div class="galeria-cuerpo2-titulos-1">
			<h5 class="galeria-cuerpo2-titulos-1-text Lato-Regular">
				Satisfacer las necesidades de nuestros clientes ofreciendo nuestro mejor servicio y asi conservar la fidelidad de nuestros clientes, estableciendo con ellos relaciones comerciales mutuamente benéficas para llegar a ser lideres en este campo.
			</h5>
			
		</div>
		<div class="galeria-image-circular-margin" >
        	<img width="100" src="./assets/img/galeria/22.jpg" class="galeria-image-circular-img">
        </div>
		<div class="galeria-cuerpo2-content">
			<img src="./assets/img/galeria/25.jpg" class="galeria-cuerpo2-content-img">
			<div class="galeria-cuerpo2-content-titulos">
				<h4 class="galeria-cuerpo2-content-titulos-text Lato-Regular">
					La mayoría de las personas que acude a Wall's Barbershop son hombres de entre 14 y 32 años o aún mayores desde 45 años hasta 65, estos serían nuestros potenciales clientes, para esto debemos tener una oferta para cada tipo de edad, esto es segmentar el mercado. Con nivel económico medio y medio alto. Los más jóvenes tambien son potenciales consumidores   
				</h4>
			</div>
		</div>
	</div!-->

	<div class="galeria-cuerpo3">
		<div class="sucursales-cuerpo3-div-diagonal"></div>
	    <div class="galeria-cuerpo3-div fondo-degradado">
	       <div class="titulos-div-footer-sucursales">
	          <div>
	            <p>
	              ¿TE INTERESA ADQUIRIR UNA FRANQUICIA? <br>
	              ¡CONTÁCTANOS! <br>
	              LIC. AARON ALVARADO <br>
	              TEL: 044 9981 45 96 50 <br>
	              FRANQUICIAS@YOSOYWALLS.COM 
	            </p>
	          </div>
	          <div class="leerMasFooter-div">
	            <div class="leerMasFooter" ng-click="go('franquicias')">
	              <h6 class="whiteFont Lato-Regular">
	                Solicitar info.
	              </h6>
	            </div>
	          </div>
	        </div>
	    </div>
	    <div class="home-footer-brand">
	  		<div ng-include="'/templates/socialIconsMovil.html'" class="socialIconsDivMovil"></div>
			<div ng-include="'/templates/socialIcons.html'" class="socialIconsDiv"></div>
			<div class="footer-text">
				<h6 class="text-center whiteFont">©2015 All Rights Reserved  Diseño <a href="http://chicleypegacreativo.com/" target="_blank" style="color: inherit;"><strong>Chicle y Pega Estudio Creativo</strong></a></h6>
			</div>
		</div>
	    </div>
	    
	  </div>
	</div>
</div>