---
name: home
url: /
controller: homeCtrl
---
<div ng-include="'/templates/navBar.html'"></div>
<div ng-include="'/templates/navBarMovil.html'"></div>
<div style="position: absolute; width: 100%">


<!--Cabecera--> 
<div ng-include="'/templates/normal-header.html'" class=""></div>
<!--div ng-include="'/templates/mexicano_banner.html'"></div-->

<!--fondo-fixed-->
<div ng-show="actualBody == 1" class="fondo-fixed">

	<iframe src="https://www.youtube.com/embed/yGQljG8kJvo?modestbranding=1&autohide=1&showinfo=0&controls=0" class="video" frameborder="0" allowfullscreen>
	</iframe>
	<div class="grid-block small-up-1" id = "titulos-div-fondo-fixed">
    	<div class="grid-block frase-div">
			<h3 class="whiteFont frase Lato-Italic">
				"Deja que tus sueños cambien tu realidad, no dejes que tu realidad cambie tus sueños"
			</h3>
    	</div>
    	<div class="grid-block ">
    		<img class="firma" src="./assets/img/FirmaOscar.png">
    	</div>
	</div>
</div>


<!--fondo-footer-->
<div ng-show="actualBody == 2" class="fondo-footer" >
	<div class="titulos-div-footer">
		<div>
			<p>
				¿TE INTERESA ADQUIRIR UNA FRANQUICIA? <br>
				¡CONTÁCTANOS! <br>
				LIC. AARON ALVARADO <br>
				TEL: 044 9981 45 96 50 <br>
				FRANQUICIAS@YOSOYWALLS.COM 
			</p>
		</div>
		<div class="leerMasFooter-div">
			<div class="leerMasFooter" ng-click="go('franquicias')">
				<h6 class="whiteFont Lato-Regular">
					Solicitar info.
				</h6>
			</div>
		</div>
	</div>
</div>

<!--cuerpo1-->
<!--div class="home-cuerpo-absolute"-->
<div  class="cuerpo1" id="cuerpo1">
	<div class="home-borde-div">
		<img src="./assets/img/border_segado_top-min.png" style="width: 100%">
	</div>
	
	<div class="cuerpo1-white-div">
		<div class="cabecera-logo-div">
			<img src="./assets/img/wCabecera.png" class="cabecera-logo" >	
		</div>
        
        <div class="cuerpo1-titulos-div">
         	<h1 class="walls-titulo RobotoCondensed-Bold">
				WALL'S BARBERSHOP
			</h1>
			<h4 class="Lato-Regular">Barbería con un ambiente masculino y moderno.</h4>
			<h4 class="Lato-Regular">Ideal para que el hombre que le gusta consentirse.</h4>
			<h4 class="Lato-Regular">Nos gusta dar un excelente servicio al cliente, un trato personalizado y de calidad,</h4>
			<h4 class="Lato-Regular">ofreciendo tanto cortes modernos como tradicionales a tijera.</h4>
			<h4>Tratamos ir siempre un paso adelante.</h4>
        </div>

		<div class="wallsCardLogoDiv">
			<h6 class="text-center membresia-text RobotoCondensed-Bold">conoce nuestra membresía</h6>
			<img src="./assets/img/wallscardcuadro.png" style="display: block; margin: 0 auto;">
		</div>

		<div class="wallsCardDiv">
			<div>
				<img class="wallscardImg" src="./assets/img/Frente-final.png">
			</div>
			<div class="grid-block sesion">
				<div class="grid-block">
					<a class="dark button Lato-Light button-home" ng-click="gotoRegist()">Registrarse</a>
				</div>

				<div class="grid-block">
					<a class="dark button Lato-Light button-home" ng-click="gotoLogin()">Iniciar sesión</a>
				</div>
			</div>	
		</div>
	</div>
	<div class="home-borde-div">
		<img src="./assets/img/border_segado_top-min.png" class="borde-sesgado-bottom">
	</div>
</div>

<div  class="cuerpo2" id="cuerpo2">
	<div class="home-borde-div">
		<img src="./assets/img/border_segado_top-min.png" class="borde-sesgado-top">
	</div>
		
	<div class="cuerpo2-div" >
		<div style="width: 100%; padding: 0 33.3%">
			<img src="./assets/img/wCabecera.png" class="cabecera-logo">	
		</div>
    	<div class="cuerpo2-titulos-div">
        	<h2 class="RobotoCondensed-Bold cuerpo2-titulo">"Más que un corte,</h2>
        	<h2 class="RobotoCondensed-Bold cuerpo2-titulo">creamos un Estilo"</h2>
	    </div>
	    <div class="wallsCardLogoDiv2">
			<h6 class="text-center membresia-text RobotoCondensed-Bold">conoce nuestra membresía</h6>
			<img src="./assets/img/wallscardcuadro.png" style="display: block; margin: 0 auto;">
		</div>

		<div class="wallsCardDiv2">
			<div>
				<img class="wallscardImg" src="./assets/img/Frente-final.png">
			</div>
			<div class="grid-block sesion">
				<div class="grid-block">
					<a class="dark button Lato-Light button-home" ng-click="gotoRegist()">Registrarse</a>
				</div>

				<div class="grid-block">
					<a class="dark button Lato-Light button-home" ng-click="gotoLogin()">Iniciar sesión</a>
				</div>
			</div>	
		</div>
	</div>

	<div class="home-borde-div">
		<img src="./assets/img/border_segado_top-min.png" class="borde-sesgado-bottom borde-sesgado-bottom2">
	</div>
</div>

<div class="cuerpo3">
	<div class="home-sucursales-title-div">
		<div class="home-borde-div">
			<img src="./assets/img/border_segado_top-min.png" class="borde-sesgado-top">
		</div>
		<div class="home-sucursales-title">
			<p class="Lato-Bold">Sucursales</p>
		</div>
	</div>
		
		
	    
    <div class="home-map-container" ng-include="'/templates/map.html'">
    </div>
  	<div class="home-footer-brand">
  		<div ng-include="'/templates/socialIconsMovil.html'" class="socialIconsDivMovil"></div>
		<div ng-include="'/templates/socialIcons.html'" class="socialIconsDiv"></div>
		<div class="footer-text">
			<h6 class="text-center whiteFont">©2015 All Rights Reserved  Diseño <a href="http://chicleypegacreativo.com/" target="_blank" style="color: inherit;"><strong>Chicle y Pega Estudio Creativo</strong></a></h6>
		</div>
	</div>
</div>
</div>



