<div class="grid-block iconsDivMovil" style="z-index: 4;">	
	<div class="grid-block" ng-mouseover="displayNumber = 'inithial'"  
			ng-mouseleave="displayNumber = 'none'">
		<h6 style="margin-right: 10px; color: white;" ng-style="{'color' : cabecera.fontColor}" class="Lato-Regular">+52 9981 45 96 50</h6>
		<i class="fa fa-whatsapp whiteFont  fa-2x" aria-hidden="true" ng-style="{'color': iconColor}"></i>
	</div>
	<!--div class="grid-block" ng-mouseover="displaySesion = 'inithial'"  
			ng-mouseleave="displaySesion = 'none'">
		<h6 style="margin-right: 10px; color: white;" ng-style="{'color' : cabecera.fontColor}" class="Lato-Regular">Iniciar sesión</h6>
		<i class="fa fa-user whiteFont fa-2x" aria-hidden="true" ng-style="{'color': iconColor}"></i>
	</div-->
</div>