<div ng-show="actualBody == 0" class="mexicano-header-cabecera">
	<div class="mexicano-header-images">
		<div>
			<img src="/assets/img/Mexicano-que-se.png">
		</div>
		<div class="mexicano-header-persona">
			<img src="assets/img/personaje-2-flip.png">	
		</div>
	</div>
	<div class="mexicano-header-textos">
		<div class="mexicano-header-title">
			<p>¡Registrate, descarga y gana!</p>
		</div>
		<div class="mexicano-header-description">
			<p>
				Descargando tu Cupón Walls y estarás participando en la rifa de un Kit completo de nuestros productos
			</p>
		</div>
		<div class="mexicano-header-button" ng-click="go('mexicano_que_se_respeta')">
			<p>¡Quiero participar!</p>
		</div>
	</div>
</div>