

<div ng-include="'/templates/navBar.html'"></div>
<div ng-include="'/templates/navBarMovil.html'"></div>
<div class="mexicano-modal" ng-show="dataReceived" >
	<div id="mexicano-congrats-div" ng-show="registed">
		<i class="fa fa-times-circle fa-4x close-modal" aria-hidden="true" ng-click="closeModal()"></i>
		<div class="mexicano-congrats-titulo">
			<p>¡FELICIDADES!</p>
		</div>
		<div class="mexicano-congrats-description">
			<p>YA PUEDES HACER VALIDO TU CUPÓN Y <br> YA ESTAS PARTICIPANDO EN NUESTRA RIFA</p>
		</div>
		<div class="cajas">
			<div class="mexicano-send-email" ng-click="sendToMail()"  zf-open="notify-correo" id="enviarCorreo">
				<p>ENVIAR A MI CORREO</p>
			</div>
		
			<!--a href="/public/pdf/cuponRifa.pdf" target="_self" download=""  id="descargarCupon">
				<div class="mexicano-send-email" >
					<p>DESCARGAR CUPÓN</p>
				</div>
			</a-->
		</div>
		
	</div>
	<div id="mexicano-used-mail" ng-show="!registed">
		<i class="fa fa-times-circle fa-4x close-modal" aria-hidden="true" ng-click="closeModal()"></i>
		<div class="mexicano-used-title">
			<p>
				LO SENTIMOS MUCHO
			</p>
		</div>
		<div class="mexicano-used-description" >
			<p>
				ESTE CORREO YA HA SIDO REGISTRADO ANTERIORMENTE INTENTE CON OTRO CORREO
			</p>
		</div>
	</div>
</div>
<div class="mexicano-background">

	<div class="mexicano-toro-div">
		<img src="/assets/img/img-fondo.png">
	</div>
	<div class="mexicano-persona-div">
		<img src="assets/img/personaje-2.png" >
	</div>
	<div class="mexicano-logo-div" ng-click="logout()">
		<img src="assets/img/Mexicano-que-se.png">
	</div>
	<div class="mexicano-formulario-container">
		<div class="mexicano-descripcion-container">
			<p>Descargando tu cupón Walls y estarás participando en la rifa de un Kit completo de nuestros productos.</p>
		</div>
		<div class="mexicano-titulo-container">
			<p>¡Registrate, descarga y gana!</p>
		</div>
		<div class="mexicano-form">
			<div class="mexicano-formulario-header">
				<img src="/assets/img/logo-walls-negro-completo.jpg">
			</div>
			<form ng-submit="sendData()" id="mexicano-formulario">
				<div class="mexicano-form-fields" >
					<div>
						<input type="text" placeholder="Nombre completo:" required ng-model="concursante.name" oninvalid="this.setCustomValidity('Inresa tu nombre completo')" oninput="setCustomValidity('')">
						<input type="number" placeholder="Edad:" max="100" ng-model="concursante.age">
						<input type="email" placeholder="Correo:" required ng-model="concursante.email">
						
						<input type="text" placeholder="Celular:" ng-model="concursante.phone" pattern="^(0|[1-9][0-9]*)$"
						 title="Debe tener al menos 10 digitos"  maxlength="10" minlength="10">

						<select name="" id="" required ng-model="concursante.ciudad"  oninvalid="this.setCustomValidity('Selecciona tu estado')"
    						oninput="setCustomValidity('')">
							<option value="" selected disabled hidden>Estado de origen</option>
							<option value="Aguascalientes" >Aguascalientes</option>
        	            	<option value="Baja California" >Baja California</option>
        	            	<option value="Baja California Sur" >Baja California Sur</option>
        	            	<option value="Campeche" >Campeche</option>
        	            	<option value="Chiapas" >Chiapas</option>
        	            	<option value="Chihuahua" >Chihuahua</option>
        	            	<option value="Coahuila" >Coahuila</option>
        	            	<option value="Colima" >Colima</option>
        	            	<option value="Distrito Federal" >CDMX</option>
        	            	<option value="Durango" >Durango</option>
        	            	<option value="Guanajuato" >Guanajuato</option>
        	            	<option value="Guerrero" >Guerrero</option>
        	            	<option value="Hidalgo" >Hidalgo</option>
        	            	<option value="Jalisco" >Jalisco</option>
        	            	<option value="Mexico" >Estado de México</option>
        	            	<option value="Michoacan" >Michoacan</option>
        	            	<option value="Morelos" >Morelos</option>
        	            	<option value="Nayarit" >Nayarit</option>
        	            	<option value="Nuevo Leon" >Nuevo Leon</option>
        	            	<option value="Oaxaca" >Oaxaca</option>
        	            	<option value="Puebla" >Puebla</option>
        	            	<option value="Queretaro" >Queretaro</option>
        	            	<option value="Quintana Roo" >Quintana Roo</option>
        	            	<option value="San Luis Potosi" >San Luis Potosi</option>
        	            	<option value="Sinaloa" >Sinaloa</option>
        	            	<option value="Sonora" >Sonora</option>
        	            	<option value="Tabasco" >Tabasco</option>
        	            	<option value="Tamaulipas" >Tamaulipas</option>
        	            	<option value="Tlaxcala" >Tlaxcala</option>
        	            	<option value="Veracruz" >Veracruz</option>
        	            	<option value="Yucatan" >Yucatan</option>
        	            	<option value="Zacatecas" >Zacatecas</option>
						</select>
						<select name="" id="" required ng-model="concursante.sucursal" oninvalid="this.setCustomValidity('Selecciona tu sucursal')"
    						oninput="setCustomValidity('')">
							<option value="" selected disabled hidden>Sucursal a la que asistirás</option>
							<option value="" selected disabled hidden>
							<option value="Isla Mujeres">Isla Mujeres</option>
							<option value="Cozumel">Cozumel</option>
							<option value="Tuxtla">Tuxtla</option>
							<option value="Boca del Rio">Boca del Rio</option>
							<option value="La Roma">La Roma</option>
							<option value="Satelite">Satélite</option>
							<option value="Guadalajara">Guadalajara</option>
							<option value="Campeche">Campeche</option>
							<option value="Queretaro">Querétaro</option>
							<option value="Bonampak - Cancun">Bonampak - Cancún</option>
							<option value="Studio - Cancun">Studio - Cancún</option>
							<option value="Plaza Arena - Merida">Plaza Arena - Mérida</option>
							<option value="Galerias - Merida">Galerias - Mérida</option>
							<option value="Uptown- Merida">Uptown- Mérida</option>
							<option value="Chetumal">Chetumal</option>
							<option value="Aguascalientes">Aguascalientes</option>
						</select>
						<select name="" id="" ng-model="concursante.medio">
							<option value="" selected disabled hidden>¿Como te enteraste de esta promoción?</option>
							<option value="Facebook">Facebook</option>
							<option value="Whatsapp">Whatsapp</option>
							<option value="Email">Email</option>
							<option value="Web">Web</option>
						</select>

						<input id="fbLogin" type="checkbox" required="" ng-model="concursante.acepto"> Acépto los terminos y condiciones<br> <br>
						<a class="expand button" ng-click="login()"> <i class="fa fa-facebook-official" aria-hidden="true" ></i> Login with Facebook</a>
					</div>
				</div>
				<input type="submit" class="mexicano-download-button" value="DESCARGAR CUPÓN" id="enviarDatos">
			</form>
		</div>
	</div>
	
	
	<div class="terms-footer" id="terms-div" ng-click="displayTerms()">
		<div>
			<p class="whiteFont-title" >TÉRMINOS Y CONDICIONES 
			<i class="fa fa-angle-up" aria-hidden="true" ng-show="!terms"></i>
			<i class="fa fa-angle-down" aria-hidden="true" ng-show="terms"></i>
			</p>
		</div>
		<div class="mexicano-terms">
			<p class="terminos" >
				 Cupón válido hasta el 30 de septiembre del 2017, <br> válido únicamente de domingo a jueves (aplica en sucursales que abren domingos). <br> No aplica en sucursales de Playa del carmen. <br> Válido mostrando este cupón en tu celular al momento de pagar. <br> El cupón es válido 1 por correo durante el tiempo que duré la promoción. <br> Cupón válido únicamente en corte de cabello.<br> Cualquier otro servicio adicional se cobrará a precio regular. <br> No acumulable con otras promociones, descuentos ni programas de lealtad. Su venta está prohibida. <br> * Aplica únicamente en las sucursales de Isla Mujeres, Cozumel, Tuxtla, Boca del Rio, La Roma, Satélite, Guadalajara, Campeche, Querétaro, Cancún, Mérida, Chetumal y Aguascalientes. 
				 <br> <br>
 Se rifará un kit con los siguientes productos: "2 Ceras Red One, 1 Blackmagic, 1 Triple Action Gde, 1 Mr. Barbas Tónico, 1 Playera Elegance, 1 Aceite Barba Almendra, 1 Walls Card, 2 Peines Mr. Barbas, 1 Llavero y 1 Gorra". Participarán todos lo cupones descargados del 1 al 31 de septiembre del 2017. El ganador se dará a conocer el Sábado 7 de octubre del 2017 en una transmisión en vivo EN LA PÁGINA DE FACEBOOK.

				 
			</p>
		</div>
		
	</div>
</div>

<!-- notification content -->
<zf-notification-static id="notify-correo" zf-advise="" title="Enviando correo" color="alert" autoclose="3000">
<p>En unos minutos revisa tu correo.</p>
</zf-notification-static>

<zf-notification-static id="notify-descarga" zf-advise="" title="Comenzando descarga" color="alert" >
<p>En unos momentos comenzara tu descarga.</p>
</zf-notification-static>