---
name: mexicano_que_se_respeta
url: /mexicano_que_se_respeta
controller: mexicanoCtrl
---
<div ng-include="'/templates/navBar.html'"></div>
<div ng-include="'/templates/navBarMovil.html'"></div>
<div class="mexicano-background">
	<div>
		<img src="/assets/img/img-fondo-toro.png">
	</div>
	<div class="mexicano-formulario-container">
		<div class="mexicano-descripcion-container">
			<p>Descargando tu cupón Walls y estarás participando en la rifa de un Kit completo de nuestros productos.</p>
		</div>
		<div class="mexicano-titulo-container">
			<p>¡Registrate, descarga y gana!</p>
		</div>
		<div class="mexicano-form">
			<div class="mexicano-formulario-header">
				<img src="/assets/img/Logo_WallsBarberShop.png">
			</div>
			<form>
				<div class="mexicano-form-fields" >
					<div>
						<input type="text" placeholder="Nombre completo:" required ng-model="user.name">
						<input type="number" placeholder="Edad:" max="100" ng-model="user.age_range.min">
						<input type="email" placeholder="Correo:" required ng-model="user.email">
						<input type="text" placeholder="Celular:">
						<select name="" id="" required>
							<option value="" selected disabled hidden>Estado de origen</option>
							<option value="">Breakfast</option>
							<option value="">Bacon Pancakes</option>
							<option value="">Mountain Dew</option>
							<option value="">Scrambled eggs with grilled zucchini, spinach, leeks, roasted tomatoes and mozzarella</option>
						</select>
						<select name="" id="" required>
							<option value="" selected disabled hidden>Sucursal a la que asistirás</option>
							<option value="">Bacon Pancakes</option>
							<option value="">Mountain Dew</option>
							<option value="">Scrambled eggs with grilled zucchini, spinach, leeks, roasted tomatoes and mozzarella</option>
						</select>
						<a class="expand button" ng-click="login()"> <i class="fa fa-facebook-official" aria-hidden="true" ></i> Login with Facebook</a>
					</div>
				</div>
				<input type="submit" class="mexicano-download-button" value="DESCARGAR CUPÓN">
			</form>
		</div>
	</div>
	<div style="width: 60%;
    position: absolute;
    top: 5%;
    right: 0;
}">
		<div style="position: relative; z-index: 1">
			<img src="assets/img/Mexicano-que-se.png">
		</div>
		<div style="position: absolute; top: 30%; width: 100%">
			<img src="assets/img/personaje-2.png" style="position: absolute;  right: 0">
		</div>
	</div>
</div>