---
name: servicios
url: /servicios
controller: serviciosCtrl
---

<div ng-include="'/templates/navBar.html'"></div>
<div ng-include="'/templates/navBarMovil.html'"></div>

<!--Fondo Fixed Cebecera-->
<div style="overflow: auto;">
<div class="top" ng-show="actualBody == 0">
	<div class="columna-top-1">
		<div class="titulo-columna-top slide-left-to-right">
			<h2 class="whiteFont text-center RobotoCondensed-Bold">PROFESIONALES </h2>
			<p class="whiteFont text-center Lato-Regular">
				Queremos ser una empresa joven, líderes en este campo, pero con gran espíritu de superación para lograr obtener la preferencia de nuestros clientes.
			</p>
		</div>
	</div>

	<div class="columna-top-2">
		<div class="titulo-columna-top">
			<h2 class="whiteFont text-center RobotoCondensed-Bold">COMPROMISO</h2>
			<p class="whiteFont text-center Lato-Regular">
				Nos preocupamos por la calidad del servicio y de los productos con los que ser trabajan, buscando superar las expectativas y satisfacción de los clientes.
			</p>
		</div>
	</div>

	<div class="columna-top-3" id='columna-top-3'>
		<div class="titulo-columna-top slide-right-to-left">
			<h2 class="whiteFont text-center RobotoCondensed-Bold">CREATIVIDAD</h2>
			<p class="whiteFont text-center Lato-Regular">
				Juntamos conceptos tradicionales y bien afirmados, con técnicas e instrumentos avanzados apostando por la actualidad en estilos y tendencias.
			</p>
		</div>
	</div>
</div>
<div class="video-servicios-div" ng-show="actualBody == 1">
	<iframe src="https://www.youtube.com/embed/0dbig-gLoCo?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=0dbig-gLoCo" frameborder="0" allowfullscreen class="video-servicios"></iframe>
	<div style="position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,0.8);">
      </div>    
</div>
</div>
<div class="cuerpo1-servicios">
	<div>
		<img src="/assets/img/fondo-sesgado-min.png" class="borde-sesgado-gris" id="borde">
	</div>
	<div  id="cuerpo1-servicios" ng-style="{ 'display' : cuerpo1.display}">
		
		<div class="cuerpo1-servicios-div">
			<div class="cuerpo1-servicios-titulos"> 
				<p class="text-left gray-text RobotoCondensed-Bold filosofia">
					FILOSOFÍA
				</p>
				<h6 class="text-left gray-text Lato-Italic">
					Más que un corte creamos un estilo. Somos apasionados en lo que hacemos, buscamos crear experiencias que satisfagan las necesidades de nuestros clientes, ofreciendo nuestro mejor servicio, la preparación para un afeitado perfecto. Trabajamos para quienes tienen mucha personalidad, eso nos motiva aún más para hacerlo bien. Queremos conservar la fidelidad de quienes confían en nosotros, estableciendo con ellos relaciones personales y comerciales para llegar así a ser líderes en este campo
				</h6>
				<h5 class="text-left gray-text Lato-BoldItalic invitation"><strong>¡Pase y tome asiento!</strong></h5>
			</div>
			<div class="cuerpo1-servicios-image">
				<img src="/assets/img/sello-filigrana-min.png">
			</div>
		</div>
	</div>
</div>
<div class="cuerpo2-servicios" id="cuerpo2-servicios">
	<div class="cuerpo2-columna">
		<div ng-repeat="servicio in servicios">
			<div class="servicios-container" ng-show="servicio.display1">
				<div class="servicios-columna" ng-attr-id="{{servicio.id1}}">
					<img src="{{servicio.img1}}">
				</div><!--
				--><div class="servicios-columna-texto" ng-attr-id="{{servicio.idT1}}">
					<!--div class="columna-back-left"></div>
					<div class="columna-back-right"></div-->
					<div class="columna-left">
						<p class="servicios-columna-titulo">
							{{servicio.title1}}
						</p>
						<p class="servicios-columna-parrafo">
							{{servicio.text1}}
						</p>
					</div><!--
					--><div class="columna-right">
						<p class="servicios-columna-titulo">
							{{servicio.title1}}
						</p>
						<p class="servicios-columna-parrafo">
							{{servicio.text1}}
						</p>
					</div>
				</div>
			</div>

			<div class="servicios-container" ng-show="servicio.display2">
				<div class="servicios-columna servicios-columna-reponsive" ng-attr-id="{{servicio.id2 + '-resp'}}">
					<img src="{{servicio.img2}}">
				</div><!--
				--><div class="servicios-columna-texto" ng-attr-id="{{servicio.idT2}}">
					<div class="columna-left">
						<p class="servicios-columna-titulo">
							{{servicio.title3}}
						</p>
						<p class="servicios-columna-parrafo">
							{{servicio.text3}}
						</p>
					</div><!--
					--><div class="columna-right">
						<p class="servicios-columna-titulo">
							{{servicio.title4}}
						</p>
						<p class="servicios-columna-parrafo">
							{{servicio.text4}}
						</p>
					</div>
				</div><!--
				--><div class="servicios-columna-foto" ng-attr-id="{{servicio.id2}}">
					<img src="{{servicio.img2}}">
				</div>
			</div>
		</div>
	</div>
</div>




<!--div class="cuerpo-absolute" id="cuerpo-absolute">
	<div class="cuerpo2-servicios">
		<div class="cuerpo2-columna columna-1">
			<div class="cuerpo2-fila" id="foto-fila-1">
				<img src="/assets/img/ima-cuerpo-dos-1-min.jpg" class="cuerpo2-image">
			</div>
			<div class="cuerpo2-fila" id="texto-fila-2">
				<div class="cuerpo2-columna columna-left columna-blanca">
					<div class="cuerpo2-titulos">
						<p class="text-center RobotoCondensed-Bold servicios-titulos">
							CORTE DE BARBA
						</p>
						<h6 class="text-center Lato-Regular">
							Recorte, arreglo y delineado de barba con maquina, tijeras y navaja.
							Incluye facial exfoliante para rostro y máquina de vapor.
						</h6>
					</div>
				</div>
				<div class="cuerpo2-columna columna-right columna-gris">
					<div class="cuerpo2-titulos">
						<p class="text-center RobotoCondensed-Bold servicios-titulos">
							CORTE Y BARBA
						</p>
						<h6 class="text-center Lato-Regular">
							Le damos forma a tu cabello. Delineamos, recortamos y afeitamos tu barba con maquina, tijeras y navaja.
							Incluye facial exfoliante para rostro y máquina de vapor.
						</h6>
					</div>
				</div>
			</div>


			<div class="cuerpo2-fila" id="foto-fila-3">
				<img src="/assets/img/ima-cuerpo-dos-3-min.jpg" class="cuerpo2-image">
			</div>
			<div class="cuerpo2-fila" id="texto-fila-4">
				<div class="cuerpo2-columna columna-left columna-blanca">
					<div class="cuerpo2-titulos">
						<p class="text-center RobotoCondensed-Bold servicios-titulos">
							DELINEADO DE BARBA
						</p>
						<h6 class="text-center Lato-Regular">
							Delineado de Barba con Navaja, tijeras y maquina.
						</h6>
					</div>
				</div>
				<div class="cuerpo2-columna columna-right columna-gris">
					<div class="cuerpo2-titulos">
						<p class="text-center RobotoCondensed-Bold servicios-titulos">
							AFEITADO DE CABEZA
						</p>
						<h6 class="text-center Lato-Regular">
							Toalla caliente, aceite pre- shave de producto especializado, afeitado de cabeza y bálsamo after shave de producto especializado.
							Incluye facial para rostro y máquina de vapor.	
						</h6>
					</div>
				</div>
			</div>
			<div class="cuerpo2-fila" id="foto-fila-5">
				<img src="/assets/img/ima-cuerpo-dos-5-min.jpg" class="cuerpo2-image">
			</div>
		</div>


		<div class="cuerpo2-columna columna-2">
			<div class="cuerpo2-fila" id="texto-fila-1">
				<div class="cuerpo2-columna columna-left columna-gris">
					<div class="cuerpo2-titulos">
						<p class="text-center RobotoCondensed-Bold servicios-titulos">
							CORTE DE CABELLO ADULTOS
						</p>
						<h6 class="text-center Lato-Regular ">
							Con él damos forma a tu cabello y te creamos un estilo propio y personal. Incluye facial exfoliante para rostro, maquina de vapor, secado y peinado.
						</h6>
					</div>
				</div>
				<div class="cuerpo2-columna columna-right columna-blanca">
					<div class="cuerpo2-titulos">
						<p class="text-center RobotoCondensed-Bold servicios-titulos">
							CORTE DE CABELLO NIÑOS
						</p>
						<h6 class="text-center Lato-Regular">
							Ejecutado  por nuestros barberos con productos 100% profesionales, ideal para el cuidado del cabello de los mas jóvenes. Incluye secado y peinado.
						</h6>
					</div>
				</div>
			</div>

			<div class="cuerpo2-fila" id="foto-fila-2">
				<img src="/assets/img/ima-cuerpo-dos-2-min.jpg" class="cuerpo2-image">
			</div>

			<div class="cuerpo2-fila" id="texto-fila-3">
				<div class="cuerpo2-columna columna-left columna-gris">
					<div class="cuerpo2-titulos">
						<p class="text-center RobotoCondensed-Bold servicios-titulos">
							DELINEADO GENERAL
						</p>
						<h6 class="text-center Lato-Regular">
							Recorte, arreglo y delineado general de tu barba o bigote.
							Uso de navaja, tijeras y maquina.
							Incluye facial exfoliante para rostro y máquina de vapor.

						</h6>
					</div>
				</div>
				<div class="cuerpo2-columna columna-right columna-blanca">
					<div class="cuerpo2-titulos">
						<p class="text-center RobotoCondensed-Bold servicios-titulos">
							DELINEADO DE CEJA
						</p>
						<h6 class="text-center Lato-Regular">
							Delineado de ceja con navaja.
							Incluye facial exfoliante para rostro y máquina de vapor.(Opcional)
						</h6>
					</div>
				</div>
			</div>

			<div class="cuerpo2-fila" id="foto-fila-4">
				<img src="/assets/img/ima-cuerpo-dos-4-min.jpg" class="cuerpo2-image">
			</div>

			<div class="cuerpo2-fila" id="texto-fila-5">
				<div class="cuerpo2-columna columna-left columna-gris">
					<div class="cuerpo2-titulos">
						<p class="text-center RobotoCondensed-Bold servicios-titulos">
						AFEITADO DE BARBA
						</p>
						<h6 class="text-center Lato-Regular">
							Afeitado a navaja y tijeras. Preparación con producto especializado y máquina de vapor, after-shave de producto especializado y masaje exfoliante facial.
						</h6>
					</div>
				</div>
				<div class="cuerpo2-columna columna-right columna-blanca">
					<div class="cuerpo2-titulos">
						<p class="text-center RobotoCondensed-Bold servicios-titulos">
						LAVADO DE CABELLO
						</p>
						<h6 class="text-center Lato-Regular">
							Lavado con agua tibia para abrir la cutícula y permitir que el champú penetre, limpie y deje sus nutrientes.
						</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<fondo fixed video>
<div class="video-servicios-div" ng-show="actualBody == 1">
	<iframe src="https://www.youtube.com/embed/0dbig-gLoCo?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=0dbig-gLoCo" frameborder="0" allowfullscreen class="video-servicios"></iframe>
	<div style="position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,0.8);">
      </div>    
</div-->

<!--div class="footer-servicios">
	<div>
		<img src="./assets/img/border_segado_top-min.png" class="borde-sesgado-servicios">
	</div>
	<div class="footer-servicios-div fondo-degradado">
		<div class="titulos-div-footer-sucursales">
			<div>
				<p>
					¿TE INTERESA ADQUIRIR UNA FRANQUICIA? <br>
					¡CONTÁCTANOS! <br>
					LIC. AARON ALVARADO <br>
					TEL: 044 9981 45 96 50 <br>
					FRANQUICIAS@YOSOYWALLS.COM 
				</p>
			</div>
			<div class="leerMasFooter-div">
				<div class="leerMasFooter" ng-click="go('franquicias')">
					<h6 class="whiteFont Lato-Regular">
						Solicitar info.
					</h6>
				</div>
			</div>
		</div>
	</div>
	<div class="home-footer-brand">
  		<div ng-include="'/templates/socialIconsMovil.html'" class="socialIconsDivMovil"></div>
		<div ng-include="'/templates/socialIcons.html'" class="socialIconsDiv"></div>
		<div class="footer-text">
			<h6 class="text-center whiteFont">©2015 All Rights Reserved  Diseño <a href="http://chicleypegacreativo.com/" target="_blank" style="color: inherit;"><strong>Chicle y Pega Estudio Creativo</strong></a></h6>
		</div>
	</div>
</div-->

<div class="footer-servicios">
	<div>
		<img src="./assets/img/border_segado_top-min.png" class="borde-sesgado-servicios">
	</div>
	<div class="footer-servicios-div fondo-degradado">
		<div class="titulos-div-footer-sucursales">
			<div>
				<p>
					¿TE INTERESA ADQUIRIR UNA FRANQUICIA? <br>
					¡CONTÁCTANOS! <br>
					LIC. AARON ALVARADO <br>
					TEL: 044 9981 45 96 50 <br>
					FRANQUICIAS@YOSOYWALLS.COM 
				</p>
			</div>
			<div class="leerMasFooter-div">
				<div class="leerMasFooter" ng-click="go('franquicias')">
					<h6 class="whiteFont Lato-Regular">
						Solicitar info.
					</h6>
				</div>
			</div>
		</div>
	</div>
	<div class="home-footer-brand">
  		<div ng-include="'/templates/socialIconsMovil.html'" class="socialIconsDivMovil"></div>
		<div ng-include="'/templates/socialIcons.html'" class="socialIconsDiv"></div>
		<div class="footer-text">
			<h6 class="text-center whiteFont">©2015 All Rights Reserved  Diseño <a href="http://chicleypegacreativo.com/" target="_blank" style="color: inherit;"><strong>Chicle y Pega Estudio Creativo</strong></a></h6>
		</div>
	</div>
</div>