<div class=" grid-block small-up-4 ">
	<a target="_blank" href="https://www.youtube.com/channel/UCpQhs3mGqI-1vejdxpB5nPg" style="color:  #929191;">
		<span class="fa-stack fa-lg fa-2x socialIcon" ng-style="{'color': youtubeColor}"
			ng-mouseover="youtubeColor = '#CC181E'"  
			ng-mouseleave="youtubeColor = ' #929191'" 
		>
		  <i class="fa fa-circle fa-stack-2x"></i>
		  <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
		</span>
	</a>

	<a target="_blank" href="https://www.facebook.com/wallsbarbershop/"
		style="color:  #929191;">
		<span class="fa-stack fa-lg fa-2x socialIcon" ng-style="{'color': facebookColor}"
			ng-mouseover="facebookColor = '#3B5998'"  
			ng-mouseleave="facebookColor = '#929191'"
			>
		  <i class="fa fa-circle fa-stack-2x "></i>
		  <i class="fa fa-facebook fa-stack-1x fa-inverse "></i>
		</span>
	</a>
	<a target="_blank" href="https://twitter.com/wallsbarbershop?lang=es"
		style="color:  #929191;">
		<span class="fa-stack fa-lg fa-2x socialIcon" ng-style="{'color': twitterColor}"
			ng-mouseover="twitterColor = '#1DA1F2'"  
			ng-mouseleave="twitterColor = '#929191'">
		  <i class="fa fa-circle fa-stack-2x"></i>
		  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
		</span>
	</a>

	<a target="_blank" href="https://www.instagram.com/wallsbarbershop/"
		style="color:  #929191;">
		<span class="fa-stack fa-lg fa-2x socialIcon" ng-style="{'color': instagramColor}"
			ng-mouseover="instagramColor = '#0BA4E0'"  
			ng-mouseleave="instagramColor = '#929191'">
		  <i class="fa fa-circle fa-stack-2x"></i>
		  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
		</span>
	</a>
</div>
