---
name: sucursales
url: /sucursales
controller: sucursalesCtrlV2
---
<div ng-include="'/templates/navBar.html'"></div>
<div ng-include="'/templates/navBarMovil.html'"></div>


<div class="sucursales-cabecerav2">
</div>

<div class="sucursalesv2-cuerpo-absolute">

  <div class="sucursales-cabecera-titulos-div">
    <div class="buscador-div">
      <select ng-change="searchSelect(buscador)" ng-init="buscador='default'" ng-model="buscador">
        <option selected disabled hidden value="default">Selecciona una sucursal</option>
        <option ng-repeat="(key, sucursal) in sucursales" value="{{key}}">{{sucursal.nombre}}</option>
      </select>
    </div>
    <p class="whiteFont RobotoCondensed-Bold">Trabajamos desde el 2010, sin parar, con entusiasmo, creatividad y curiosidad, nos enfocamos por la calidad del servicio esencial para ser lideres en este campo</p>
  </div>
  <div class="sucursales-cuerpo-sello">
    <img src="/assets/img/sello-sucursales-min.png" class="sucursales-cuerpo-sello-img">
    <div class="sucursales-cuerpo-sello-mascara"></div>
    <div class="sucursales-cuerpo-sello-titulos-div">
      <h2 class="whiteFont RobotoCondensed-Bold">
        NOS PODRÁS ENCONTRAR EN NUESTRAS SIGUIENTES SUCURSALES, 
      </h2>
      <p class="whiteFont Lato-Italic">
        donde lograrás vivir toda la experiencia Wall´s Barbershop:
      </p>
    </div>
  </div>

  <div class="sucursales-mapa-div" id="map">
    <div ng-include="'/templates/map.html'"></div>
    <div class="sucursales-mobile-container">
      <div class="sucursales-mobile-title-container" ng-repeat="(key, sucursal) in sucursales">
        <div ng-click="selectSucursal(key)">
          <div class="sucursales-mobile-image">
            <img src="{{sucursal.imgMobile}}">
          </div>
          <div class="sucursales-mobile-title-div">
            <h3 class="Lato-Bold">  {{sucursal.shortName}}</h3>
          </div>
          <div class="sucursales-mobile-flecha-div">
            <i ng-show="!sucursal.select" class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
            <i ng-show="sucursal.select" class="fa fa-angle-down fa-2x" aria-hidden="true"></i>
          </div>
        </div>
        
        <div class="sucursales-mobile-info" ng-show="sucursal.select">
          <div>
            <div class="sucursales-mobile-info-div">
              <p class="Lato-Light">{{sucursal.direccion}}</p>
            </div>
            <div class="sucursales-mobile-info-comollegar-container">
              <a href="{{sucursal.mapsUrl}}" target="_blank" style="color: black">
                <div class="sucursales-mobile-info-comollegar">
                  <p class="Lato-Light">¿como llegar?</p>
                </div>
              </a>
            </div>
            
          </div>
          
          <div >
              <div class="tyc">
                <h6 class="Lato-Bold">RESERVAS</h6>
              </div>
            </div>
          <div style=" margin-top: 10px; text-align: center;">            
            <div class="sucursales-mobile-contact">
              <div>
                <p class="Lato-Light" ng-if="sucursal.telefono">
                    <i class="fa fa-phone sucursales-contact-icons" aria-hidden="true"></i> {{sucursal.telefono}}
                  </p>
              </div>
              <div >
                <p class="Lato-Light" ng-if="sucursal.whatsapp">
                    <i class="fa fa-whatsapp sucursales-contact-icons" aria-hidden="true"></i>
                    {{sucursal.whatsapp}}
                  </p> 
              </div>  
            </div>
            <div class="sucursales-mobile-social">
                <a href="{{sucursal.fb}}">
                  <i class="fa fa-facebook-square fa-2x sucursal-v3-social-icon" aria-hidden="true"></i>
                </a>
                <a href="{{sucursal.instagram}}">
                  <i class="fa fa-instagram fa-2x sucursal-v3-social-icon" aria-hidden="true"></i>
                </a>
                <a href="{{sucursal.twitter}}">
                  <i class="fa fa-twitter-square fa-2x sucursal-v3-social-icon" aria-hidden="true"></i>
                </a>
            </div>
            <div style="height: 10px;"></div>
          </div>
        </div>
      </div>
    </div>   
  </div>

  <div class="sucursales-footer-div" id="bottom">
    <div class="sucursales-cuerpo3-div fondo-degradado">
        <div class="titulos-div-footer-sucursales">
          <div>
            <p>
              ¿TE INTERESA ADQUIRIR UNA FRANQUICIA? <br>
              ¡CONTÁCTANOS! <br>
              LIC. AARON ALVARADO <br>
              TEL: 044 9981 45 96 50 <br>
              FRANQUICIAS@YOSOYWALLS.COM 
            </p>
          </div>
          <div class="leerMasFooter-div">
            <div class="leerMasFooter" ng-click="go('franquicias')">
              <h6 class="whiteFont Lato-Regular">
                Solicitar info.
              </h6>
            </div>
          </div>
        </div>
        
      </div>
      <div class="home-footer-brand">
        <div ng-include="'/templates/socialIconsMovil.html'" class="socialIconsDivMovil"></div>
        <div ng-include="'/templates/socialIcons.html'" class="socialIconsDiv"></div>
        <div class="footer-text">
          <h6 class="text-center whiteFont">©2015 All Rights Reserved  Diseño <a href="http://chicleypegacreativo.com/" target="_blank" style="color: inherit;"><strong>Chicle y Pega Estudio Creativo</strong></a></h6>
        </div>
    </div>
    </div>
  </div>

</div>