<div ng-include="'/templates/navBar.html'"></div>
<div ng-include="'/templates/navBarMovil.html'"></div>
    <!-- PRELOADER 
    <div class="spn_hol">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

 < END PRELOADER -->

 <!-- =========================
     INICIO
============================== -->
    <section class="wcont-header wcont-parallax home-parallax page" id="HOME">
     
         <div class="wcont-fondo-diagonal"></div>      
        <div class="wcont-section_overlay">
            <nav class="wcont-navbar wcont-navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                   
                    <!-- CAMBIAR AL MENÚ PARA WALL´S - CAMBIAR AL MENÚ PARA WALL´S -CAMBIAR AL MENÚ PARA WALL´S
                    <div ng-include="'/templates/navBar.html'"></div>
<div ng-include="'/templates/icons.html'" class="grid-block iconsDiv"></div> -->
                    
                    
            </nav>

            <div class="container home-container">
                <div class="row">
                   <!--  <div class="col-md-12">
                        <div class="wcont-logo text-center">
                                LOGO                             <img width="125" height="55" src="images/logo.png" alt="">
                        </div>
                    </div> -->

                </div>
                <div class="row">
                      <div class="wcont-feature_inner">
            <div class="container">
                <div class="row responsive-tittle">
                    <div class="col-md-2 wcont-right_no_padding wow fadeInLeft wcont-texto_top_derecha" data-wow-duration="2s">
                       

                        <div class="wcont-left_single_feature">
                          <h3 class="RobotoCondensed-Bold">Ponemos el corte</h3>

                            
                        </div>

                        

                    </div>
                    <div class="col-md-8 wcont-col-md-8 wcont-sello_imagen">
                        
                    </div>
                    <div class="col-md-2 wcont-left_no_padding wow fadeInRight wcont-texto_top_izquierda" data-wow-duration="2s">

                          <div class="wcont-right_single_feature">
                            <h3 class="RobotoCondensed-Bold">Tú la actitud!</h3>
                            
                        </div>
                       
                    </div>
                </div>
                  
            </div>
        </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FIN INICIO -->

<!-- =========================
   SECCIÓN REDES
============================== -->
    <section class="wcont-contact page" id="">
          

        <div class="wcont-section_overlay">
    
            <div class="container">
            <div class="wcont-fondo-diagonal-izquierdo fadeInLeft" data-wow-duration="4s" data-wow-delay=".3s">
                        <!-- FONDO IZQUIERDO -->
                            
                        </div>
                        
                
            </div>

            <div class="wcont-contact_form" id="contact-container-BounceIn">
                <div class="container">

               
                            <div class="col-md-4 wcont-columna-ancho">
                <p class="wcont-estilo-texto-formulario">¡contáctanos!</p>
                           
                            </div>
                            <div class="col-md-8 wcont-col-md-8">
                            <div class="wcont-seccion_titulo_blanco">
                        <h2 class="RobotoCondensed-Bold">¡Redes Sociales!</h2>
                        <p>Queremos conservar la fidelidad de quienes confían en nosotros, estableciendo con ellos relaciones personales y comerciales para llegar así a ser líderes en este campo.</p>
                   
                </div> 
               
                        <div class="wcont-social_icons">
                            <ul>
                                <li><a href="https://www.facebook.com/wallsbarbershop/" title="facebook.com/wallsbarbershop" target="_blank"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href="https://twitter.com/wallsbarbershop" title="twitter.com/wallsbarbershop" target="_blank"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href="https://www.instagram.com/wallsbarbershop/" title="instagram.com/wallsbarbershop" target="_blank"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li><a href="https://www.youtube.com/channel/UCqx1xHpwRKGyZR1nXOTznvg" title="Canal Youtube de Wall´s Barbershop" target="_blank"><i class="fa fa-youtube-play"></i></a>
                                </li>
                           </div>
                          </div>
                             
                            
                            <div class="col-md-6">
                            
          
						
                        </div>

 
                            <div class="col-md-6"> 
                   
                    </div>
                        </div>
                         </div>
                </div>
            </div>
         </div>
    </section>
    <!-- FIN REDES -->


 

 <!-- =========================
     SECCIÓN ¡ABRE TU FRANQUICIA!
============================== -->

    <section class="wcont-seccion_abre_franquicia wcont-parallax">
        <div class="wcont-section_overlay">
            <div class="container">
                <div class="row">
                  
                    <div class="col-md-10 col-md-offset-1">
                    <!-- FEATURES SECTION TITLE -->
                    <div class="wcont-seccion_titulo_blanco_dos" id="titulo-fadeInLeftBig-2s">
                   
                        <h2 class="RobotoCondensed-Bold">¡ABRE TU FRANQUICIA!</h2>
                        <p>Somos una empresa joven con gran espíritu de emprendimiento, con el propósito firme de lograr obtener la preferencia de nuestros clientes, por medio de la innovación y concepto modernista de nuestras franquicias.</p>
                    </div>
                    <!-- END FEATURES SECTION TITLE -->
                </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- FIN ABRE TU FRANQUICIA  -->





<!-- =========================
      CONTACTO 
============================== -->

    <section class="wcont-contact page" id="CONTACT">
        <div class="wcont-section_overlay">
            <div class="container">
                <div class="col-md-10 col-md-offset-1" id="contacto-form-bounceIn1s">
                    <!-- Start Contact Section Title-->
                    <div class="wcont-section_title_formulario">
                        <h2 class="RobotoCondensed-Bold">¡Más información!</h2>
                        <p class="Oswald-Regular">Si está interesado, le podemos contactar a través de uno de nuestros agentes autorizados, a continuación nuestros datos de contacto, escribanos y en breve nos comunicaremos con usted.</p>
                    </div>
                </div>
            </div>

            <div class="wcont-contact_form" id="contact-container2-bounceIn">
                <div class="container">

                  
                    <div class="wcont-section_title_footer">
                        <h2 class="RobotoCondensed-Bold">Lic. Aaron Alvarado <br>
                            TEL: 044 9981 45 96 50<br>
                            franquicias@yosoywalls.com</h2>
                                            </div>
                                            <div class="wcont-boton-leer-mas">
				<a href="#"><h6 class="wcont-texto-boton-leer-mas whiteFont"> 
					<i class="fa fa-rocket whiteFont" aria-hidden="true"></i>
					Solicitar info.
				</h6></a>
			</div>

                </div>
            </div> 

        </div>
        <div class="footer-servicios-brand" style="bottom: -30px; ">
          <div ng-include="'/templates/socialIconsMovil.html'" class="socialIconsDivMovil"></div>
          <div ng-include="'/templates/socialIcons.html'" class="grid-block"></div>

            <h6 class="text-center whiteFont footer-text">©2015 All Rights Reserved  Diseño <a href="http://chicleypegacreativo.com/" target="_blank" style="color: inherit;"><strong>Chicle y Pega Estudio Creativo</strong></a></h6>
        </div>
    </section>

    <!-- FIN CONTACTO -->


<!-- =========================
     FOOTER 
============================== -->

    <!--section class="wcont-copyright">
        <h2></h2>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wcont-copy_right_text">
                    <div ng-include="'/templates/socialIconsMovil.html'" class="socialIconsDivMovil"></div>
                        <p class="footer-text">©2015 All Rights Reserved  Diseño <a href="http://chicleypegacreativo.com/" target="_blank" style="color: inherit;"><strong>Chicle y Pega Estudio Creativo</strong></a></p>        
                        
                  </div>
                     
                </div>                
            </div>
        </div>
    </section-->
    <!-- FIN FOOTER -->


<!-- =========================
     SCRIPTS 
============================== -->


    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    <script src="js/jquery.fitvids.js"></script>
   <!--   <script src="js/smoothscroll.js"></script>  -->
    <script src="js/jquery.parallax-1.1.3.js"></script>
  
   
    <script src="js/wow.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/script.js"></script>

